[2020-07-28 15:09] dstamen opened #1 "If no logo is specified allow site title to be used in place."

[2020-07-28 15:09] dstamen opened #2 "Google Analytics Parameter is missing from config.toml"

[2020-07-28 18:19] dstamen opened #3 "when running hugo server locally, css does not work due to integrity."
to get it to work locally on my mac i had to disable the data integrity lines in baseof.html

[2020-07-28 18:35] dstamen opened #4 "social urls missing from config.toml"
social usernames for github/linkedin/twitter in header are missing from config.toml

[2020-07-28 18:39] chipzoller commented on #3
I was not able to reproduce this by following both option #1 and option #2 in the readme. This was tested on Mac 10.14.6 with Hugo extended v0.74.2. Can you describe any steps to reproduce this issue?

[2020-07-28 18:42] onweru commented on #3
@dstamen, please ensure that you've cleared the resources directory. The data integrity ought to work with no issues

[2020-07-28 18:45] onweru commented on #4
@dstamen

Those are supposed to be on [this _social yaml_  >> see the exampleSite](https://github.com/chipzoller/hugo-clarity/blob/master/exampleSite/data/social.yaml). Please use the [exampleSite](https://github.com/chipzoller/hugo-clarity/blob/master/exampleSite/data/social.yaml) as a guide. If something is vague, please look through __the READme__.

[2020-07-28 18:46] dstamen commented on #3
this is on macos 10.15.6 and hugo 73.0

On Tue, Jul 28, 2020 at 2:42 PM one <notifications@github.com> wrote:

[2020-07-28 18:47] dstamen commented on #4
I see it there, but it should be parameterized in the config.toml (most if
not all) themes try to make all settings in a single config and then can be
ported/reused in the other sub modules. ill make the changes there for now.

On Tue, Jul 28, 2020 at 2:46 PM one <notifications@github.com> wrote:

[2020-07-28 18:53] chipzoller commented on #4
Should consider merging the `social.yaml` contents into `config.toml` so there is a single file used to control this typical theme functionality.

[2020-07-28 19:15] dstamen opened #5 "For me the Author/Intro is missing from the homepage. i see it on posts and other pages."
https://inspiring-jang-56bfc9.netlify.app/ example.

[2020-07-29 13:24] chipzoller commented on #3
Closing for now since issue cannot be reproduced on exampleSite content.

[2020-07-29 13:24] #1 closed

[2020-07-29 13:24] #2 closed

[2020-07-29 13:26] chipzoller commented on #5
Can you provide more details on this issue? Did you try with the exampleSite and found the same thing?

[2020-07-29 14:00] dstamen commented on #5
![image](https://user-images.githubusercontent.com/11834898/88809630-5b8ad400-d182-11ea-9e37-73e881b2b22b.png)

top right the author info is missing....

[2020-07-29 14:01] dstamen commented on #5
when you go to any other page its there...
![image](https://user-images.githubusercontent.com/11834898/88809713-6cd3e080-d182-11ea-89e0-fc91344c8663.png)

[2020-07-29 14:02] dstamen commented on #5
not sure if this is expected or not.

[2020-07-29 14:03] onweru commented on #5
@dstamen,

I will have a look at this man, thanks for highlighting it.

[2020-07-29 14:05] dstamen commented on #5
no problem. site the "author" is set in config.toml i would expect it to be
sitewide, however if author is set at the page level then maybe that
updates for the author?

On Wed, Jul 29, 2020 at 10:04 AM one <notifications@github.com> wrote:

[2020-07-29 14:07] chipzoller commented on #3
Could not reproduce on Mojave with Hugo v0.74.3 and the exampleSite instructions in option 2.

[2020-07-30 06:01] onweru commented on #5
I recall why I excluded the author's block from the homepage, and other list pages. I considered a situation where a site has multiple authors. In such a scenario, the author's block on a list page would give a false impression; that all articles are authored by the site owner / main author.

We could add a variable on config file indicating that there's a sole author in a site. Convenient when on

[2020-07-30 11:29] chipzoller commented on #5
I think that's a valid concern, but I do also think that this is more of a corner case than of the majority. By in large, a user adopting this theme will most likely either be the sole author or the primary author of its content. One possible way to satisfy both concerns is to turn the `author` parameter into an array of strings and then handling that on the side bar with a name on each line. Or j

[2020-07-31 12:54] dstamen opened #6 "If draft = true, it is not rendered. in development mode"
draft = true is a valid post configuration.

this is used when writing a post but not having it generated with hugo build process. when draft = true the page is not rendered for preview on localhost:1313

this was tested in examplesite

![image](https://user-images.githubusercontent.com/11834898/89036875-7f2d5600-d30b-11ea-8f09-29bb96be923a.png)

[2020-07-31 13:03] chipzoller commented on #6
Not sure I completely follow. TMK, this is expected behavior from Hugo. When `draft = true` the site will not be rendered irrespective of theme. You say "in development mode" so I'm not sure if you're saying there's a switch (which I can't find) which should enable these drafts to build.

[2020-07-31 13:03] chipzoller commented on #5
Fixed.

[2020-07-31 13:03] #5 closed

[2020-07-31 14:46] dstamen commented on #6
Ignore my friday brain...

[2020-07-31 14:46] #6 closed

[2020-07-31 17:30] onweru commented on #6
ℹ️  you can always run `hugo server --buildDrafts` or `hugo server -D` if you want to render drafts on localhost. [See options](https://gohugo.io/commands/hugo_server/#options)

[2020-08-03 08:40] bilal-fazlani opened #7 "How to override css and js with additional files?"

[2020-08-03 09:18] onweru commented on #7
@bilal-fazlani, I will add files for that purpose.

[2020-08-03 09:19] bilal-fazlani commented on #7
Thanks @onweru !

[2020-08-03 09:37] bilal-fazlani opened #8 "Twitter large summary card support"
https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image

It would be great to support this

![image](https://user-images.githubusercontent.com/3396271/89168701-dbf27000-d59a-11ea-98c1-6f7233ba0da3.png)

Right now, they come out like this:

![image](https://user-images.githubusercontent.com/3396271/89168832-0c3a0e80-d59b-11ea-9a43-64ea3618b9ef.png)

[2020-08-03 10:47] onweru commented on #8
@bilal-fazlani,

I agree; I will make it configurable via the config. Thanks for the feedback

[2020-08-03 11:50] bilal-fazlani commented on #7
I have added a pull request for adding class names to images here #9 .
We will be able to add styles to these classes once there is ability to add custom css/js files

[2020-08-03 12:42] Goth opened #10 "How do I change the site title?"
![Screenshot 2020-08-03 at 15 39 21](https://user-images.githubusercontent.com/1408367/89183413-e06d5780-d59f-11ea-8033-21526de49345.png)
I want to change the name of the theme to my website name? How?

Thansks.

[2020-08-03 12:49] bilal-fazlani commented on #7
Updated the PR to add this support this functionality as well

[2020-08-03 21:36] kbreit opened #11 "Errors in sidebar.html"
I am running hugo-clarity locally and receiving the following errors. I did clear the resources directory.

[code]

[2020-08-03 22:30] chipzoller commented on #11
Are you using the example site as a base when seeing these errors? If not, does it render when not in draft mode? What is the contents of your front matter?

What version of Hugo?

[2020-08-04 06:31] onweru commented on #10
@Goth, [edit this line in the config](https://github.com/chipzoller/hugo-clarity/blob/0cbe3367c3a136dfe65f3ecc110a3c2db4775cba/exampleSite/config.toml#L4). If you have a different configuration, that would be the `title` field in your _config.toml_ file

[2020-08-04 06:31] #10 closed

[2020-08-04 07:20] bilal-fazlani opened #12 "Title appears twice on home page"
![image](https://user-images.githubusercontent.com/3396271/89264726-0868c380-d651-11ea-9133-f4364f9f582c.png)

[2020-08-04 11:10] chipzoller commented on #12
This is currently by design. We do have a card in to propose changing this.

[2020-08-04 13:05] kbreit commented on #11
`Hugo Static Site Generator v0.74.3/extended darwin/amd64 BuildDate: unknown`

It works when I use the example site as the base but fails if I use my existing site which I'm considering moving to hugo-clarity. Do you recommend I start fresh and just port all my posts to the new theme?

Draft mode seems to fail the same way. For the front-matter are you looking for front-matter on a particular file

[2020-08-04 13:28] kbreit commented on #11
I was able to solve this problem by using your `config.toml` instead of the one I used.

[2020-08-04 13:28] #11 closed

[2020-08-04 17:52] #3 closed

[2020-08-05 05:35] LGTMXD opened #13 "thumbnail 404 not found in tag page"
![image](https://user-images.githubusercontent.com/30213081/89375212-ceb2be00-d71f-11ea-9537-796ecc052155.png)

![image](https://user-images.githubusercontent.com/30213081/89374944-3c121f00-d71f-11ea-90be-b228411a55e4.png)

![image](https://user-images.githubusercontent.com/30213081/89375056-74196200-d71f-11ea-8a83-4a644e9c294f.png)

[2020-08-05 09:23] onweru commented on #13
thanks for contributing @LGTMXD

[2020-08-05 11:09] #13 closed

[2020-08-05 12:00] Goth opened #14 "hugo version?"
ERROR 2020/08/05 11:53:04 HUGO-CLARITY theme does not support Hugo version 0.54.0. Minimum version required is 0.63.0
But i already have the latest version : hugo 0.74.3 already installed

I can't upload from github to netlify because of this error.

[2020-08-05 12:38] #7 closed

[2020-08-05 12:57] onweru commented on #14
@Goth, see instructions on setting up netlify deployment here https://gohugo.io/hosting-and-deployment/hosting-on-netlify/#configure-hugo-version-in-netlify. Netlify uses a different version of Hugo than the one you have installed locally.

[2020-08-05 12:58] #14 closed

[2020-08-05 13:27] #12 closed

[2020-08-05 13:29] chipzoller commented on #8
Will update readme soon with this param.

[2020-08-05 13:29] #8 closed

[2020-08-05 18:40] bilal-fazlani commented on #8
thank you for closing all the issues quickly! great theme!

[2020-08-08 03:15] LGTMXD opened #15 "code block doesnt show all lines after clicking expansion button"
![image](https://user-images.githubusercontent.com/30213081/89701302-0c098c80-d968-11ea-8c58-9ee8a9885ec2.png)

![image](https://user-images.githubusercontent.com/30213081/89701304-0f9d1380-d968-11ea-8a8a-bb3a0b2429c6.png)

[2020-08-08 11:42] digitalronin opened #16 "README error regarding custom javascript"
In the README, there is this text:

But the custom javascript link to: https://github.com/chipzoller/hugo-clarity/blob/master/assets/js/_custom.js gives a 404 error.

If possible, please document how to add javascript files to a blog using this theme, such that they end up in the bundled JS file.

[2020-08-08 11:56] #16 closed

[2020-08-08 11:58] onweru commented on #15
@LGTMXD, thanks a lot for highlighting this using dev tools. We have been aware of this bug but couldn't quite place a finger on what was causing it. Thanks for contributing.

[2020-08-08 13:19] #15 closed

[2020-08-15 11:53] ashishtheapexian opened #17 "CSS file are not available in Sample project"
I tried to run the project files using the instructions from readme page. but no luck in finding the same look and feel as mentioned.

Please suggest
below screenshots for reference

![image](https://user-images.githubusercontent.com/13847003/90311722-d6dadc80-df1b-11ea-9375-2cc64df2786f.png)
![image](https://user-images.githubusercontent.com/13847003/90311728-df331780-df1b-11ea-9092-22d6861bd9c0.

[2020-08-15 13:13] onweru commented on #17
@ashishtheapexian,

Pull the change. If all else fail, delete the [resources folder](https://github.com/chipzoller/hugo-clarity/tree/master/exampleSite/resources) and retry.

[2020-08-15 15:57] flyingdan opened #18 "Featured posts parameter ignored"
The front matter of the post archetype has a parameter named "featured" described as follows:

`featured: false # Sets if post is a featured post, making appear on the home page side bar.`

Setting this parameter to `true` does not cause the post to appear in the side bar. To make the post appear in the "Featured Posts" section of the sidebar a tag with name `featured` is required.

I believe this

[2020-08-15 16:59] chipzoller commented on #18
Thanks for mentioning this. We are aware of it and were going to remediate. @onweru I think it makes sense to accelerate this fix to ensure the README remains accurate.

[2020-08-16 13:46] #18 closed

[2020-08-16 13:47] chipzoller commented on #17
@ashishtheapexian Can you please confirm the latest commit fixes the issue for you?

[2020-08-16 14:46] ashishtheapexian commented on #17
Hi, apologies for delay.

I tried new changes but no luck.

One workaround I did, created one common CSS file and referred in the head partial.
And removed all the old-style references.

I can share any log or activity if you want.

My issue is fixed by the workaround.

[2020-08-16 14:49] incenger opened #19 "Currently viewed post is filtered out of recent and featured lists"
When a post in recent and featured list is viewed, it is filtered out of the recent and featured list. I think it would make more sense to keep these two lists consistent.
Thank you for your great work.

[2020-08-16 15:14] chipzoller commented on #19
Thank you for pointing this out, and I agree. We will ensure the "Featured Posts" and "Recent Posts" lists on the side bar are consistent regardless of the current page being viewed.

[2020-08-16 15:22] chipzoller commented on #17
@ashishtheapexian I have just built the site based on the instructions [here ](https://github.com/chipzoller/hugo-clarity#option-2-great-for-testing-quickly)and have no rendering problems with the example site. Are you saying if following these instructions your site, when hosted locally, still does not render correctly?

![image](https://user-images.githubusercontent.com/29008123/90337792-d3defb0

[2020-08-17 01:54] chipzoller commented on #17
If you are still hitting this issue, please share detailed steps to reproduce and the versions of the software used in producing them (i.e., Hugo, OS, browser, etc.).

[2020-08-17 12:27] vivekkrkarn opened #20 "Should be able to define default colour mode from config.toml"
Hi,
I think, we should be able to define default colour mode ( light or dark ) from config.toml
thank you for this theme.

[2020-08-17 12:45] chipzoller commented on #20
The default color mode is dependent upon the color mode of the client system. If you wish to override this, you can flip the mode switch and the site should remember that within the same session. Still, we will consider the idea.

[2020-08-17 14:47] onweru commented on #19
This behaviour is a feature and not a bug; I [recently documented](https://github.com/chipzoller/hugo-clarity/commit/cccc1783e47653469be88381abb36c84aa5e4dc9) this [here](https://github.com/chipzoller/hugo-clarity/commit/cccc1783e47653469be88381abb36c84aa5e4dc9). Since the article is being read (open/in focus) anyway, it would seem redundant listing it as featured. Assuming the only reason you wou

[2020-08-17 22:45] RobJohnston commented on #17
Same problem here using the following steps (Windows 10):

[code]
At this point, I see the same screenshot with missing CSS files and a complaint about the integrity attribute of the CSS file.  Seems like it calculated the hash wrong, as removing that loads the site properly.

[code]

As suggested above, I deleted the "resources" folder and tried again:

[code]

[2020-08-18 00:08] chipzoller commented on #17
You should be using Hugo Extended to generate this site. I tried on my end with the exact same process given your commands and the exampleSite renders properly.

[code]

![image](https://user-images.githubusercontent.com/29008123/90455942-6bcd0980-e0c5-11ea-9c1a-a86faff18696.png)

[2020-08-18 01:06] RobJohnston commented on #17
I uninstalled Hugo and installed Hugo Extended.  That fixed it for me, thanks a bunch!

It looks like a great theme and I'm excited to dig into it.  Good work 👍

[2020-08-18 10:34] #17 closed

[2020-08-18 22:14] RobJohnston commented on #19
For consideration, set the `active` attribute and add some style to indicate which is the current page.

Similar to the example of the Clarity Sidenav component:  https://clarity.design/documentation/sidenav

[2020-08-22 00:30] tcarreira opened #22 "i18n: support Multilingual"
Just to keep things tidy, here is a Feature Request for this PR: #21

[2020-08-26 09:32] jpboignard opened #24 "Math notation does not work on exampleSite"
Hello,
I have installed the last version of hugo 0.74.3 extended, and setup a new site with the clarity theme as a git submodule then copy the given exampleSite at the root.
The "Math Typesetting" page does not display math notation.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: chrome and edge

Thanks

[2020-08-26 14:53] onweru commented on #24
@jpboignard, thanks for raising this. I have attached screenshots of further diagnosis and [an explanation from the docs](https://gohugo.io/getting-started/configuration-markup/#goldmark) why this is happening.

---
#### Diagnosis

<img width="892" alt="Screen Shot 2020-08-26 at 10 42 18 AM" src="https://user-images.githubusercontent.com/16350351/91318272-0ba32b00-e789-11ea-828d-83d61c6d54c8.png">

[2020-08-26 20:17] jpboignard commented on #24
It does not work for me.
In the exampleSite, in safe or unsafe mode, the bottom of the page http://localhost:1313/post/math-typesetting/  only display this:
![image](https://user-images.githubusercontent.com/2809578/91351295-5acc7880-e7e8-11ea-9784-aa233cceafc0.png)

[2020-08-27 11:37] onweru commented on #24
@jpboignard, if you don’t mind, I would like to see your code. Perhaps the config.toml & the math block you’re trying to publish

[2020-08-27 17:35] chipzoller opened #25 "Align with Clarity 4"
Hugo-clarity theme should ultimately align with [Clarity 4.0.0](https://clarity.design/news).

[2020-08-31 19:31] infosecwar opened #26 "Light/Dark Mode Not Working on Rendered Site"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X ] Read the README.md
- [X ] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference

**Describe the bug**

Regardless of what browser I use (Firefox, Brave, Edge, etc...) after building and deploying site into production, the toggle switch for Light/Dark mode ceases t

[2020-08-31 19:50] onweru commented on #26
@infosecwar,

The theme loads a single js script that is fingerprinted. The integrity check fails in your case. https isn't enabled on your site. Yet, you're requesting a https: resource over http. See attached

<img width="1227" alt="Screen Shot 2020-09-01 at 5 46 30 am" src="https://user-images.githubusercontent.com/16350351/91760476-c793a880-ec16-11ea-9b44-090fe4cd19c6.png">

[2020-08-31 19:52] infosecwar commented on #26
The cert was just installed this morning and verified. I’m making valid HTTPS/SSL connections on my end. (See attached)

Stay safe,
Duncan McAlynn (@infosecwar)

Sent from ProtonMail Mobile

On Mon, Aug 31, 2020 at 2:50 PM, weru <notifications@github.com> wrote:

[2020-09-01 23:39] rootwork opened #27 "Docs: Getting up and running > Option 1: needs a few clarifications"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Unless I'm misreading option 1 or missing something, following its steps will create the following directory structure:

`yourSiteName`
`yourSiteName/config.toml`

[2020-09-02 00:13] rootwork opened #28 "Feature Request: Provide a git-trackable way to override theme variables/sass/js"
In [custom CSS and JS in the README](https://github.com/chipzoller/hugo-clarity#custom-css-and-js) you explain how to add Sass and JS to the theme, and how to override color variables: By editing files within the Hugo Clarity theme.

I appreciate that you created the `custom.sass` and `custom.js` files.

But modifying these files presents a problem: You either have to choose to continue using the

[2020-09-02 01:34] rootwork commented on #28
There's a PR that does this for you to review.

Also noting that this is a followup to #7.

[2020-09-02 18:23] infosecwar commented on #26
Any other suggestions on this one? Anything else I should try, as SSL/HTTPS connections are clearly happening?

[2020-09-02 19:29] onweru commented on #26
@infosecwar, there is an integrity issue with the script loaded on your site. Curious how you're generating the production site. `hugo -v` ?

[2020-09-02 19:34] onweru commented on #28
Thanks for contributing @rootwork! I agree. Will review PR asap.

[2020-09-02 21:17] infosecwar commented on #26
C:\hugo\mcalynn>hugo -v
INFO 2020/09/02 16:15:11 No translation bundle found for default language "en"
INFO 2020/09/02 16:15:11 Translation func for language en not found, use default.
INFO 2020/09/02 16:15:11 i18n not initialized; if you need string translations, check that you have a bundle in /i18n that matches the site language or the default language.
INFO 2020/09/02 16:15:11 Using config fil

[2020-09-03 20:33] infosecwar commented on #26
Would this same "single js script that is fingerprinted" also be the reason that the menu won't load on mobile? I just want to know before opening another issue for that problem I'm experiencing as well.

[2020-09-03 20:59] onweru commented on #26
That’s right. Until you fix that, several things won’t work, including the menu. At this point I would have to see your repo. From your logs, I can see you’re overriding some stuff. Without seeing what you’re doing I cannot reproduce why your script integrity check is failing on production

[2020-09-03 21:22] infosecwar commented on #26
I'd love to get to the root cause of this, so whatever I need to do on my end to get it resolved and help others not fall into the same sink hole... just let me know what I need to do. Thanks!

[2020-09-03 22:05] onweru commented on #26
If you can have your entire local repo on GitHub, I would be happy to play with it and see what's acting up.

[2020-09-03 23:21] infosecwar commented on #26
Here it is: https://github.com/infosecwar/mcalynn.com

[2020-09-03 23:54] rootwork opened #30 "Asset variable paths assume particular directory structure"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

[`_variables.sass`](https://github.com/chipzoller/hugo-clarity/blob/master/assets/sass/_variables.sass) has paths for fonts, icons and images with a leading `../`.

[2020-09-04 00:44] onweru commented on #30
Umh, that doesn't actually apply in the way you have described. Those paths are only relative to the generated css file, which will always link to the same directory for all pages.

[2020-09-04 00:45] #30 closed

[2020-09-04 00:46] onweru commented on #26
I will have a looksie and get back to you when I can. Thanks.

[2020-09-04 01:01] onweru commented on #27
@rootwork, I have followed [the steps in option 1](https://github.com/chipzoller/hugo-clarity#option-1-recommended) as they're and everything works as intended. I'm positive @chipzoller did the same while doing the README writeup.

[2020-09-04 01:01] #27 closed

[2020-09-04 01:16] onweru commented on #26
@infosecwar, I have had a look at your repo. You're duplicating your content files on to the [theme/hugo-clarity](https://github.com/infosecwar/mcalynn.com/tree/master/themes/hugo-clarity) directory. It's no wonder the integrity checks fails and your logs have warnings like __"interface {} data from 'menu.yaml' overridden by higher precedence []interface {} data"__. Please keep only themes files i

[2020-09-04 01:16] #26 closed

[2020-09-04 19:50] infosecwar commented on #26
Turns out that it was an issue with my FTP client (FileZilla) not maintaining the file integrity. After doing as you said  and cleaning up the directory structure, I was still facing the same issue. When I isolated the file uploads to just the assets/js directory, I noticed that the file sizes we're changing from localhost to the site. Re-upload. Same thing. Only off by a few hundred bytes but eno

[2020-09-05 02:07] onweru commented on #26
I’m glad you cracked it.

[2020-09-05 22:23] trodemaster opened #31 "Clarification on getting started instructions"
Apologies if I'm missing something basic here but seems like the getting started Option 1 steps are not correct in README.md

Currently the cp command here results in a exampleSite directory being copied to base dir of your new site. This doesn't work as expected.

[code]

When I did the following it does work as expected.
[code]

[2020-09-06 14:04] trnrao opened #33 ""Series" is not visible on the Side Bar"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [Yes ] Read the README.md
- [Yes] Have the extended version of Hugo installed
- [Yes ] Used the exampleSite's config.toml as a reference

**Describe the bug**
"Series" is not visible on the Side Bar. Categories and Tags are visible. But in the Demo URL, ont he Side Bar, Series is vivible. I tried to check various

[2020-09-06 14:36] trnrao commented on #33
By going through Sidebar.html code carefully, I have understood that I did not copy the contents of configTaxo.toml to config.toml file. After doing the same, now I getting Series visible on the Side Bar.

Please consider this as Closed.

This is an amazing theme on Hugo and I have been searching for a long time for a blog with { Series, Category, Tags } for a long time. This is really really help

[2020-09-06 15:09] onweru commented on #33
@trnrao,

Thanks for the feedback. We’re glad 😃 to know that you find the theme useful. Please proceed freely with the attribution. Anything goes.

[2020-09-06 15:14] #33 closed

[2020-09-06 15:17] #31 closed

[2020-09-06 20:16] rootwork commented on #30
You're right, that was my misunderstanding about the relative path. Weirdly, the font _was_ broken for me until I changed the path to start at the webroot, but maybe that was something peculiar to my server.

[2020-09-06 20:27] onweru commented on #30
Interesting 🤔, what was your baseURL in the config? Curious

[2020-09-06 20:30] rootwork commented on #30
Initially I think it was just the example.com that ships with the default config, but even after I changed it to my actual domain it seemed to still not show up. I'll try fiddling with it and see if I can at least see what errors the server gives me when it's got the relative path.

[2020-09-06 20:34] onweru commented on #30
Look forward to what you unearth. Thanks again for contributing.

[2020-09-09 14:20] #28 closed

[2020-09-10 10:25] oskapt commented on #19
There's an argument that UI elements shouldn't appear and disappear in arbitrary context. The article is Featured 100% of the time. The heading doesn't say "Featured and Not Visible" - so when it disappears, it's easy for the reader to attribute that to a state change around "Featured" and not a state change around "Not Visible."

[2020-09-11 01:15] oskapt opened #34 "home page doesn't have any meta description content"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

When sharing the root of a site, there is nothing but the title and an image:

<img width="965" alt="Screen Shot 2020-09-10 at 07 29 20" src="https://user-images.g

[2020-09-11 14:34] onweru commented on #34
@oskapt,

The [template reads](https://github.com/chipzoller/hugo-clarity/blob/2fa64317259905a767ac70f80aaae15486476c7a/layouts/partials/opengraph.html#L1-L4) the `description` from a page frontmatter.  For the homepage, that would be in `content/_index.md`.

In your `content/_index.md`, set the description as follows:

#### YAML

[code]

#### TOML

[code]

I think this approach is better than set

[2020-09-11 14:58] onweru commented on #34
To avoid future queries/confusion on the same, I have applied changes accordingly.

[2020-09-11 14:58] #34 closed

[2020-09-12 06:15] AndrewRichardson2 opened #35 "Editing footer breaks links menu in header"
Hi,

Firstly, awesome theme!

I've noticed that if you modify or remove the following code in footer.html: `<span class = 'year'></span>`, it breaks the links menu in the header.  The links menu no longer folds out and will act as a home button when you click it.

I've been able to validate this locally by commenting out that part of the line (or the entire line).

Figuring out why this is happeni

[2020-09-12 13:40] onweru commented on #35
@AndrewRichardson2, thanks... will remedy that asap

[2020-09-13 14:29] rahulwagh opened #36 "Is there an easy way to set default theme to light?"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

I really liked the hugo-clarity theme and would like to use for my blog but is there a way or global variable which i can set, so that the default theme layout is

[2020-09-13 14:32] chipzoller commented on #36
The only way the theme would default to dark is if your underlying system is using dark theme. Clarity will pick that up from the user and apply it to the site. So if visiting users aren't in dark mode, it won't default to dark but to light.

[2020-09-13 15:58] rahulwagh commented on #36
Okay, thanks for the information, I wasn't aware of that **"It depends on the underlying system"** but it sounds great.

If it's okay than I have one more suggestion - In the dark mode the theme switch button gets lost somewhere in the background-color

![Screenshot from 2020-09-13 18-51-42](https://user-images.githubusercontent.com/6808425/93022585-c721e700-f5f2-11ea-812f-5fc37f6de09f.png)

But i

[2020-09-13 16:57] chipzoller commented on #36
Are you specifically referring to the globe icon on the slider or the shaded background on which it's placed?

[2020-09-13 20:01] #35 closed

[2020-09-14 08:22] hankyo91 commented on #36
i have same issue😥
my os and firefox themes are dark
but i like to have light theme as default for my blog visitors
btw, this hugo theme is awesome, thank you guys for developing it❤️

[2020-09-14 13:34] chipzoller commented on #36
So there again, users who visit your site using this theme will experience dark/light depending on **their** system settings. This goes for all OS types. We probably should add something to README which explains this since I don't see it mentioned anywhere as a feature.

[2020-09-14 15:08] onweru commented on #36
Will add something soon that will strike a good compromise

[2020-09-15 01:43] #36 closed

[2020-09-15 13:06] AndrewRichardson2 opened #37 "Theme breaks when deploying via netlify"
Hi,

I have an issue where the theme seems to break when deploying my site with netlify.  I'm using the latest version of the theme and Hugo 0.75.0 extended.  The site and theme render fine when running locally.  However when built via netlify, the build succeeds but the site looks like this: https://5f60b89d250b6d000748b738--vigilant-raman-d8e917.netlify.app/

I have not had this issue with any o

[2020-09-15 13:33] AndrewRichardson2 opened #38 "Dark mode text colour & code fence highlighting colour"
Hi,

Having played around with the theme for a few days, I have some usability suggestions:

1) In dark mode, I think the text colour of #FFFFFF can become a bit straining on the eyes.  In clarity, the predominant text colour for dark mode is #ADBBC4, and I think making this the default (or making it configurable) would be an improvement.
2) When highlighting lines in a code fence with line number

[2020-09-15 14:19] onweru commented on #37
@AndrewRichardson2,

The theme breaks on netlify because you're using "https://virtualslices.com/" as your baseURL. From your `config.toml` file, tweak it to "https://5f60b89d250b6d000748b738--vigilant-raman-d8e917.netlify.app/" or just root i.e "/".

[2020-09-15 14:22] #37 closed

[2020-09-15 23:56] AndrewRichardson2 commented on #37
Hi @onweru,

Thanks so much for helping me out with that.  I've set the baseurl to "/" and it now works perfectly.  The weird thing is that previously when I had seen the issue it was on my actual site, where the baseurl string was correct.  Either way, seems like setting it at root works!  Thanks again!

[2020-09-16 01:09] tcarreira commented on #22
PR: #39

[2020-09-16 20:23] Abdulee opened #41 "How to edit the social icons."
Hello,
Lets say I want to use a different selfmade icon like I don't want linkedin  and maybe want an email icon. How can I do it.

[2020-09-23 09:56] tcarreira commented on #41
Hi @Abdulee
Check for the file `layouts/partials/icons.html`. You may change entries or add new ones.

You may check this commit (another repo) what I did: https://github.com/Marmita-de-Redon/hugo-redon-podcast/commit/04670ec087c52f990c5b6fb68af86e8f9ecca0f1

[2020-09-24 10:32] tcarreira commented on #22
Solved with #39

[2020-09-24 10:32] #22 closed

[2020-09-24 20:02] tbraeutigam opened #43 "Twitter Share Link doesn't work by default."
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Twitter Share Link doesn't work by default.

To make it work I edited the `layouts/partials/share.html` and added `| urlize` behind the `.Permalink` entries.

[2020-09-24 20:04] tbraeutigam opened #44 "Suggestion: Use Copyright Setting from config.toml for footer by default"
As the title states I think it might be good to user `{{ .Site.Copyright }}` for the footer by default.

As a newbie to hugo I had to take out the trusted `grep -ri` hammer to find where the copyright notice is defined in the theme.

[2020-09-26 21:06] razonyang opened #49 "Feature request: support search."

[2020-09-27 12:30] chipzoller commented on #49
Search is already planned for the 2.0 release.

[2020-09-27 12:31] chipzoller commented on #44
@onweru to weigh in here.

[2020-09-27 12:32] chipzoller commented on #43
At last look (and on my site using this theme) the Twitter share link worked just fine. @onweru can you confirm?

[2020-09-27 12:32] chipzoller commented on #41
PR merged closing the issue.

[2020-09-27 12:32] #41 closed

[2020-09-27 12:34] chipzoller commented on #20
Addressed in earlier commit. See [the docs](https://github.com/chipzoller/hugo-clarity#forcing-light-or-dark-mode) for usage details.

[2020-09-27 12:34] #20 closed

[2020-09-28 05:35] shawnmasters opened #51 "All links opening in new tab"
My site has all clickable links (internal and external) opening in a new tab.  I'm fairly certain this has something to do with a URL setting like baseurl, but different options I have tried are not yielding any different results.  Here is the first few lines of my config.toml file.

[code]

[2020-09-28 06:25] onweru commented on #51
@shawnmasters,

Could you try 👇

[code]

instead of

[code]

[2020-09-28 06:31] onweru commented on #51
**Unrelated:** It might be a good idea to set a `http >> https` redirect on your server. If you're using netlify, [see the how to do it](https://docs.netlify.com/routing/redirects/#syntax-for-the-redirects-file) ... else look for a solution that fits your server. Why?

 1. because http://anticryptography.io/ is broken
2. because it's a good idea to always serve your site over `https`

[2020-09-28 06:40] onweru commented on #44
I think we should leave this one as is. Why?

The copyright section consists of  `current year`(generated automatically), `site name`(defined in config) & all the other text which [was covered under i18n](https://github.com/chipzoller/hugo-clarity/blob/6bbd50f5ae9bd5a3c24a67c653a876b43ad78553/i18n/en.toml#L4-L8) through #39

[2020-09-28 06:40] #44 closed

[2020-09-28 06:42] onweru commented on #43
It works in all cases except if you're not already logged onto twitter. I will confirm that quirk again and proceed accordingly.

[2020-09-28 11:51] shawnmasters commented on #51
I did try both baseurl options with no difference.

HTTPS redirect is not available on the server I am currently using.  I had this working with both http and https problem using a much older (no longer available theme) before now.

[2020-09-28 15:26] onweru commented on #51
@shawnmasters, let me know if it’s fixed now.

[2020-09-28 17:40] #51 closed

[2020-09-28 20:28] shawnmasters commented on #51
That fixed it.  Thank you very much.

[2020-09-29 15:48] bluelupo opened #54 "Error with "highlight html" function"
The function {{< highlight html >}} for code blocks in the source file shows an error on my webspace when I move the mouse pointer over a code box (see my webside). It does not matter which browser (e.g. Firefox or Chromium) I use, the error message appears on both browsers.

But if I call this page locally with the built-in webserver of hugo, no error message appears.

The page is available onlin

[2020-09-29 17:24] razonyang commented on #54
Some icons(copy.svg, expand.svg ...) do not exist in https://bluelupo.info/icons/. I guess that is a problem of your web server configuration.

[2020-09-30 10:06] razonyang opened #56 "Coding style"
I found that this theme contains different coding styles about HTML element property.

[code]

According to the standard, it doesn't matter. However, it is better to use the same coding style. So which one should be used when making a PR?

References:

- [Using spaces before and after the `=` sign of HTML element attribute](https://stackoverflow.com/questions/3551541/using-spaces-before-and-after-

[2020-10-01 12:27] chipzoller commented on #56
I always go for economy, so no spaces delimiter is what I'd use here.

[2020-10-01 15:47] kevball2 opened #57 "Unable to hide Language selection with site variable"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Setting the isMultiLingual site variable to 0 in the config.toml does not cause the Language selection nav to be hidden (or not rendered). Should this be expected

[2020-10-01 16:22] #56 closed

[2020-10-01 16:50] onweru commented on #54
nothing to see here.

[2020-10-01 16:50] #54 closed

[2020-10-01 17:51] tcarreira commented on #57
@kevball2 There is no isMultiLingual
Hugo auto-detects multilingual if there is any translation available.

If you delete the [pt] part from `conf/_default/language.toml` and delete the file `conf/_default/menus/menu.pt.toml` (that you  copied from the exampleSite, the translation disappears)

@onweru This should be addressed in the documentation.
What do you think is best:
- have a onliner comman

[2020-10-01 18:21] onweru commented on #57
@tcarreira, let's go with this 👇

Thanks for your help here.

[2020-10-01 18:35] tcarreira commented on #57
#58

[2020-10-01 18:37] #57 closed

[2020-10-01 18:53] kevball2 commented on #57
@tcarreira  Thanks for the info, just learning Hugo and thought all the site variables could be used to enable/disable features. Appreciate the quick feedback!

[2020-10-01 19:01] onweru commented on #19
If there's only one unit of a product,  you wouldn't re-advertise (feature)  it to the guy who just bought it.

This falls under the realm of "trivia".

I think there's a case to be made that if an article is already being read, it should give up room for other featured articles to be noticed as well.

[2020-10-01 19:01] #19 closed

[2020-10-02 13:35] razonyang commented on #38
Agreed, any news？

[2020-10-03 08:40] gleaneo opened #60 "Add MailChimp Signup Form configuration"
Dear author,

Thank you so much for this amazing theme. It would be great if you please provide the setting on config file for adding the the link of Sign up form provided by mail-chimp.

The requested setting is provided by another [hugo theme](https://github.com/felicianotech/hugo-theme-lean-launch-page#mailchimp).

[2020-10-03 14:11] chipzoller commented on #60
Our theme is primarily targeted at bloggers writing technical content whereas MailChimp sign-up forms are more commonly used on product pages. @onweru what are your thoughts here?

[2020-10-03 14:40] onweru commented on #60
@chipzoller,

I agree.

@gleaneo,

To add that sort of functionality, you can use hooks added by @razonyang in #50. It's [documented  here](https://github.com/chipzoller/hugo-clarity#hooks)

[2020-10-04 11:30] #60 closed

[2020-10-04 19:04] shawnmasters opened #61 "Disqus shortname not enabling the inclusion"
I've added the following shortcode to my config.toml

# Disqus shortname
disqusShortname = "anticryptography"

and the generation step does not seem to be picking it up.  There is no reference in any of the posts to Disqus.  Does this require more than the shortname?

[2020-10-05 03:59] razonyang commented on #61
There are several reasons cause this:
1. `disqusShortname`  should be placed in root level in config(same as `baseurl`, `title`). Put it under`params` will not work.
1. Have you disabled comment globally by setting `comment = false` in config?
1. Have you disabled comment in particular post by setting `comment = false` in post's front matter?

[2020-10-05 11:40] shawnmasters commented on #61
Ah, I had it under params.  Good to know.  Is this documented somewhere?

[2020-10-05 11:40] #61 closed

[2020-10-05 12:52] razonyang commented on #61
Not yet. I create a PR #62 for it.

[2020-10-05 13:32] onweru commented on #24
As it turns out, the answer to this issue is, in fact, [right under our nose](https://themes.gohugo.io//theme/hugo-clarity/post/math-typesetting/.). The first sentence of that posts states 👇

In fact, the entire post documents how you activate math notation on a Hugo website.

When you look at the scripts loaded from the aforementioned link, you will notice `katex.min.js` is among them (see the at

[2020-10-06 13:46] chipzoller commented on #24
I think this should be an enhancement, yes, and I also like the idea of activating it globally with per-page overrides like we have done with other parameters. Although our theme wasn't specifically designed to cater to math notation, it is somewhat of a relative of programming and other code. It seems like there should be similar facility to enable (and optimize for) its use.

[2020-10-07 05:08] razonyang opened #63 "Dropdown menus doen't work in some browsers."
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Preview: https://razonyang.com/en/

![20201007-124810](https://user-images.githubusercontent.com/17720932/95289331-116a5100-089d-11eb-9ada-994fd8c86f4e.gif)

**Des

[2020-10-07 05:23] razonyang commented on #63
It seems fixed by #59.

[2020-10-07 05:23] #63 closed

[2020-10-09 13:59] razonyang commented on #49
Is somebody working on this? If not, maybe I can help.

[2020-10-09 14:02] chipzoller commented on #49
Yes, we will be adopting a search implementation by @onweru in his [Compose](https://github.com/onweru/compose) theme.

[2020-10-23 22:00] TheJavaGuy opened #69 "Site doesn't build"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

I tried to install this theme by following this procedure:
[code]
but immediately after executing `hugo server` I got the following error message:
[code]

**Deskto

[2020-10-23 22:17] KTM888 commented on #69
I have the same exact issue, does anyone know how to fix?

[2020-10-23 22:20] chipzoller commented on #69
Instagram have deprecated their existing oEmbed endpoint as outlined in [this post](https://developers.facebook.com/docs/instagram/oembed). We will need to adjust the theme to pull from the correct endpoints from now on.

[2020-10-24 01:12] onweru commented on #69
@chipzoller

The error was being caused by https://gohugo.io/content-management/shortcodes/#instagram. 8da522e should suffice until the shortcode is fixed.

@TheJavaGuy, @KTM888, you should be able to proceed now.

[2020-10-24 21:55] TheJavaGuy commented on #69
Thank you @onweru and @chipzoller , you guys rock!

[2020-10-24 21:55] #69 closed

[2020-10-31 03:17] vietanhdev commented on #49
I implemented [my search page](https://aicurious.io/search/) using [this tutorial](https://gist.github.com/eddiewebb/735feb48f50f0ddd65ae5606a1cb41ae). Hope this will help.

[2020-11-02 08:12] rugginic opened #72 "Thumbnail image path for page bundles."
Hello and thank you for this amazing theme.
I'd like to ask 3 questions I couldn't find an answer for in the documentation:
1. I'm trying to keep posts and their resources (images, attachments, ecc) within the content folder, leveraging page bundles. One thing I noticed, the thumbnail image path apparently always points to the static folder. I couldn't manage to keep all the post's content within

[2020-11-03 00:38] chipzoller commented on #72
Hello, Nicola. I can handle the third question while the other two would be better answered by @onweru. We currently have not implemented a search function, however this is planned in the 2.0 milestone via a custom implementation. The "reading time" function you mentioned is a separate piece of functionality if you're asking about blogs that state something like "estimated 5 minutes to read" up fr

[2020-11-03 00:41] chipzoller commented on #49
Nice work there, and nice blog!

[2020-11-03 08:00] rugginic commented on #72
Hello Chip! Thanks for coming back to me! You are right,  In fact my 3rd question was a kind of "feature request" for 2 separate features:
1. Reading time as many other themes already have. Exactly what you are referring to: "estimated reading time" nice to have for a casual reader who has 5 spare minutes and might not start reading an article that takes an average of 30 minutes to read (or vice v

[2020-11-03 14:10] chipzoller commented on #72
The first feature is something we aren't planning to implement at this time, but of course that's subject to change especially if there's more interest. The second feature, as I said, will get implemented in 2.0. That will probably be a next year target.

For page resources, the convention in Hugo is to separate static files from text content because images, icons, etc don't get rendered by Hugo w

[2020-11-03 15:07] onweru commented on #72
@rugginic,

I believe that is [covered, to a good degree, in the readme](https://github.com/chipzoller/hugo-clarity#custom-css-and-js)

That's exactly right.

I'm familiar with the concept of page bundles, but I have so far ignored them to an obvious fault. Nonetheless for a good reason; I find media management [on __forestry cms__ (most SSG cms) painful when Hugo page resources are applied](https

[2020-11-03 21:20] chipzoller opened #73 "Adding double quotes to image caption text breaks rendering past that point."
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [ x] Read the README.md
- [x ] Have the extended version of Hugo installed
- [ x] Used the exampleSite's config.toml as a reference

**Describe the bug**
When an image caption text contains double quotes, the rendered output breaks at that point. Removing double quotes shows all the text as expected.

[2020-11-04 10:56] razonyang commented on #49
@vietanhdev Yes, that tutorial was really useful. I also implemented [search](https://hugo-theme-bootstrap.razonyang.com/search) feature for my [theme](https://github.com/razonyang/hugo-theme-bootstrap).

I suggest using Fuse.js instead of Lunr.js in this theme, since Lunr doesn't work well in a non-English language.

[2020-11-04 14:43] onweru commented on #73
I looked into this. It turns out that this behavior is actually not a bug. It's a shortcoming of markdown itself. In markdown, if you include double quotes inside an image caption, markdown generates 'broken' html.

`![test "quotes" in markdown images](/images/thumbnail.png)` will produce the code in the attached screenshot.
<img width="533" alt="Screen Shot 2020-11-04 at 9 41 02 am" src="https://

[2020-11-04 20:28] rugginic commented on #72
@onweru Thank you,

yes, you are right. is it covered in the readme, and my apologies if I'm asking silly questions, I guess this is more related to git and workflow instead of this theme: I wanted to change the background color and, following the instruction I modifies [_variables.sass](https://github.com/chipzoller/hugo-clarity/blob/master/assets/sass/_variables.sass), but now git complains abou

[2020-11-05 15:36] knurd opened #74 "consider renaming icons/ directory, as it clashes with some apache default configs"
I'm getting 404 for everything in the icons/ directory after uploading it to my shared webspace. Turns out there is a name clash, as a icons/ directory in the root has a special meaning in some apache default confits. See https://electrictoolbox.com/apache-icons-directory/ or https://www.hosteurope.de/faq/webhosting/hochladen-von-webinhalten-ftp/verzeichnisnamen-mit-besonderer-funktion/ (german, s

[2020-11-05 15:41] chipzoller commented on #73
Thanks for investigating. Will convert to README guidance.

[2020-11-05 16:05] chipzoller commented on #72
Yes, that's the concept of Page Bundles, but they're a (fairly) new concept to Hugo. Prior to Page Bundles, the convention was that non-rendered files (typically images) should be defined in `/static` which is what we're currently doing. Bundles are certainly something I'd like to see, but that's just going to take a little time.

[2020-11-05 21:37] rugginic commented on #72
@onweru

How do one overrides the _variables.sass or creates a custom .sass outside the them folder? I'm quite happy with changing $bg and $theme colors and I think I tried almost everything but I can't manage to change those settinngs leaving the theme's folder untouched. Can you please help?

[2020-11-08 01:39] albersonmiranda opened #75 "rmarkdown support"
Hi!

I'm using this awesome theme to blog via R's package {blogdown} (see example [here](https://datamares.netlify.app/post/atestando-diferencas-em-medias-o-teste-t-para-amostras-independentes/)) but for some reason all code features won't work (folding, line numbers etc). My guess is  it occurs because of code block with rmarkdown are enclosed like

What should I change in code.js, _syntax.sass o

[2020-11-08 13:51] chipzoller opened #76 "Posts with future `date` in frontmatter invalid"
If setting the `date` key in the post's frontmatter to a day in the future, Hugo won't render the page. Is this something we can allow? Main use case I can forsee is when someone wants to use a CD platform to publish a post on a given timer and flip `draft` from `true` to `false` simultaneously.

[2020-11-08 14:12] chipzoller commented on #73
Closing via https://github.com/chipzoller/hugo-clarity/commit/90a2c009fb8b4dea9c5535f9aee88f8c905af055

[2020-11-08 14:12] #73 closed

[2020-11-08 14:23] chipzoller commented on #24
@onweru I'm circling back on this as my task to update the README. Please confirm that the functionality is present and all that's needed from a docs standpoint is to write about the `enableMathNotation` in the `config.toml` file, overridable at the post level.

[2020-11-08 14:27] chipzoller commented on #38
@onweru let's circle up on this. I've heard similar requests for code coloration (in-line, not blocks) in dark theme. We either need to implement now, table for 2.0 milestone, or close.

[2020-11-08 14:28] chipzoller commented on #43
Was this confirmed, or should we drop? It seems like a reasonable prereq that a user should be authd to Twitter to enable that functionality.

[2020-11-08 14:34] chipzoller opened #77 "Footer image location, override capabilities"
Footer image should be pulled or configurable from `/static/logos` and not in the theme directly. It's not clear where we're loading that footer image from.

[2020-11-08 14:34] chipzoller commented on #75
This is not something we planned for by default, @albersonmiranda, so will require some input.

[2020-11-08 14:36] chipzoller commented on #74
Best we can probably do here is provide the *option* to use a different name, but the default of `icons` is quite standard in the vast majority of cases. @onweru do we want to support this?

[2020-11-09 02:54] onweru commented on #74
@chipzoller

I attempted accomodating this by implementing the tip from https://electrictoolbox.com/apache-icons-directory/ (suggested by @knurd). It introduces a breaking change. At this point, I would suggest we keep this open for future consideration.

@knurd,

As a temporary measure, I would recommend editing finding where __icons/__ paths is used and modifying accordingly:
`grep -w -r -o -n "

[2020-11-09 02:58] onweru commented on #76
For sure, there's a [hugo build flag for that sort of thing](https://gohugo.io/getting-started/usage/#draft-future-and-expired-content)

[2020-11-09 02:58] onweru commented on #77
I agree, currently we're using a favicon image for that.

[2020-11-09 02:59] onweru commented on #43
We should drop this one.

[2020-11-09 03:01] onweru commented on #38
This issue is still in play. The concerns raised are perfectly reasonable.

[2020-11-09 03:04] #24 closed

[2020-11-09 03:31] onweru commented on #75
@albersonmiranda,
Umh, the code block features are based on [hugo's default highlighting configurations](https://gohugo.io/getting-started/configuration-markup#highlight), which are based on goldmark markdown renderer. At this point, [we've limited our scope in fact](https://github.com/chipzoller/hugo-clarity/blob/b67849d1ca101457d245fef9e79a9325a8b52468/exampleSite/config.toml#L40). Our next step

[2020-11-09 13:17] chipzoller commented on #77
Tabling for 2.0 milestone.

[2020-11-09 13:18] chipzoller commented on #76
Did not know about that flag! Thanks, @onweru. Closed.

[2020-11-09 13:18] #76 closed

[2020-11-09 13:27] chipzoller commented on #43
Closed.

[2020-11-09 13:27] #43 closed

[2020-11-09 17:28] onweru commented on #77
@chipzoller,

I think we need to add a section on the readme about overrides. I think adding a plethora of config fields to the `config.toml` is ultimately defeating. You can bet that dozens someones somewhere will want to override something that we never thought of.

Virtually all of these overrides can be achieved through a git traceable way. That is, without editing the theme itself.

Basically

[2020-11-09 22:18] albersonmiranda commented on #75
Apparently [it's not possible](https://discourse.gohugo.io/t/using-highlight-with-rmarkdown/29307). Looks like it's a job for rmarkdown side.

[2020-11-09 22:22] #75 closed

[2020-11-10 14:25] chipzoller commented on #77
The footer image, though, is a central part of the branding and shouldn't come from within the theme itself. If it does, a user would never be able to reliably update Clarity without having to replace files.

[2020-11-11 01:49] sosiristseng opened #80 "[Feature enhancement] Add mhchm and copytex extension to KaTeX"
First of all, thank you for your great work. I stumbled upon this theme yesterday and I was instantly amazed.

As I was playing with the theme, I found out the [math typesetting library](https://github.com/chipzoller/hugo-clarity/pull/78) was actually [_KaTeX_](https://katex.org/), a [lighter and faster](https://www.intmath.com/cg5/katex-mathjax-comparison.php) alternative to MathJax. (So maybe we

[2020-11-11 07:54] sosiristseng commented on #80
There is an issue about [`copytex`](https://upupming.site/katex-copytex/) in the latest KaTeX. It may copy both the TeX command and rendered text. And thus it's not that useful.

[2020-11-13 16:14] #80 closed

[2020-11-13 19:04] albersonmiranda commented on #75
Guys,

Do you see at least a way (via custom css I guess) to make `code` class inherit `pre` class? I think it'd allow highlight.js to work properly with rmarkdown. Right now it randomly guesses code (never correctly lol) as bash, yaml, ruby...

[2020-11-13 21:34] rugginic commented on #72
@onweru Thanks a lot!
I maneged to override the colors creating /assets/sass/_override.sass !!
Just a heads up:

In my case it didn't work without the "_" underscore. The file has to be renamed _override.sass

[2020-11-13 23:45] onweru commented on #72
@rugginic, thanks for catching that.

[2020-11-13 23:48] onweru commented on #75
@albersonmiranda, I’ll look into it.

[2020-11-14 13:14] Stals opened #84 "elems.forEach is not a function at toggleLineNumbers"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

When I open the page that contains some code, for example like this:
[code]

The page breaks with an error
[code]

If I set "codeLineNumbers = true" in config.toml

[2020-11-14 13:31] Stals commented on #84
Seems to be caused by the "linenos=table" part,
I've also missed this line in the config file

`lineNumbersInTable = false # toggling this on (i.e to true) or deleting this line will break the code blocks functionality. Will`
Which seems to be incomplete

[2020-11-15 15:49] onweru commented on #84
@Stals, glad you found the comment. Support for `lineNumbersInTable = true` will come later.

...

_Originally posted by @onweru in https://github.com/chipzoller/hugo-clarity/issues/75#issuecomment-723733494_

[2020-11-16 21:56] #84 closed

[2020-11-18 05:09] #72 closed

[2020-11-20 10:16] rugginic opened #93 "Image figure caption disappears after refreshing the page"
Hi All,

I noticed that the figure [caption disappears](https://themes.gohugo.io/hugo-clarity/#image-figure-captions) after refreshing the page.

I noticed it on my site, but then I tried also @chipzoller site. This is an example from https://neonmirrors.net/post/2020-05/cicd-for-hugo-on-aws/

This is the caption:
![caption](https://user-images.githubusercontent.com/68188977/99788707-64c8f380-2b19

[2020-11-20 13:28] chipzoller commented on #93
Yes, I'm seeing the same thing on Brave on desktop, but not on Firefox. On Firefox, refreshing can sometimes double print the image captions, which we thought was just Firefox being...Firefox. Will need to investigate here.

[2020-11-20 19:08] chipzoller opened #94 "Code block expansion stops at empty line"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

When having a code block which is, for example, 30 lines long and in which there is a blank line at 21, when setting the default number of lines to show at 30 the

[2020-11-23 09:08] sosiristseng commented on #49
FYI, there is a partial theme implementation of Fuse.js search: <https://github.com/kaushalmodi/hugo-search-fuse-js>

The search page is hosted on Hugo-bare-min theme: <https://hugo-bare-min.netlify.app/search/>

[2020-11-23 11:28] onweru commented on #49
We're working on it, so far [we have got this far](https://docs.neuralvibes.com). The current implementation is using Fuse.js as advised earlier in this thread.

[2020-11-23 11:39] sosiristseng commented on #49
Wow! The search bar is pretty smooth and polished. And the `compose` theme also looks very nice for documentation.

I appreciate your hard work and look forward to seeing this function added to `clarity`.

[2020-11-23 12:14] onweru commented on #49
@sosiristseng, we'll get there. Thank you.

[2020-11-23 18:48] onweru commented on #93
@chipzoller, @rugginic

Let me know if this is fixed.

[2020-11-23 20:06] chipzoller commented on #93
Per earlier discussion, issues still persist when changes are pushed to a live site where there is loading latency greater than what is seen when running Hugo locally.

[2020-11-27 19:22] chipzoller opened #97 "Support for asciinema recordings"
It would be super cool to support [asciinema](https://asciinema.org/) recordings in Clarity. See also [here](https://www.tonylykke.com/posts/2018/06/20/embedding-asciinema-casts-in-hugo/).

[2020-11-30 10:37] rugginic commented on #93
@onweru, @chipzoller
Apologies for late reply.
I've just checked out the latest and it appears that is fixed for me. Ma pages are hosted at gitlab.

Thank you Guys, great job!

[2020-11-30 17:31] konsumschaf opened #98 "Feature Request: Add reading time to articles"
Hi ...

I wonder if it would be possible to add a nice _reading time_ to the header of each article next to the date with some nice Clock-SVG Icon? As ```.ReadingTime``` is already supported by Hugo this should not be a big issue.

Thanks a lot

Thomas

[2020-12-08 00:15] manuxch opened #101 "Problem displaying more than 14 tags on sidebar."
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X] Read the README.md
- [X] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference

**Describe the bug**

The site is not built when I add a new post increasing the number of tags to 15. In the config.toml file, the parameter "numberOfTagsShown" is set to 14. The error

[2020-12-08 07:08] onweru commented on #101
@manuxch, I will try to reproduce this and get back to you

[2020-12-08 12:05] rahulwagh commented on #101
+1 @manuxch

I am also using the hugo clarity for some time now but recent update has broken the ```hugo server``` command

and now i am also stuck with

[code]

Any update help would be really appreciated because i need to update my blog but somehow i got stuck after this recent update .

//Rahul

[2020-12-08 12:21] onweru commented on #101
@rahulwagh, @manuxch

I couldn't quite reproduce the error I fixed something that seemed off to me. Let me know if this update fixes things for you

[2020-12-08 18:56] rahulwagh commented on #101
@onweru your fix did the trick for me and now the theme is working thanks!

[2020-12-08 20:09] #101 closed

[2020-12-12 00:57] chipzoller commented on #98
What's the LoE to support this, @onweru ?

[2020-12-12 00:58] chipzoller commented on #97
@onweru your thoughts on this?

[2020-12-12 00:58] chipzoller commented on #94
I can't recall, is this something you were able to reproduce, @onweru ?

[2020-12-12 00:59] chipzoller commented on #93
Appears fixed as well. Closing.

[2020-12-12 00:59] #93 closed

[2020-12-12 01:01] chipzoller commented on #49
For those watching this issue, there have been some significant advancements made in the search functionality that Clarity will eventually adopt, including some functionality that isn't found many other places. Stay tuned.

[2020-12-12 12:42] onweru commented on #94
@chipzoller, I was able to reproduce it. It was an edge case though. That’s it only occurred when a specific condition occurred.

[2020-12-12 12:44] onweru commented on #98
It’s fairly easy. Been musing on where to put that detail in the UI.

[2020-12-12 12:50] onweru commented on #97
I have familiarizing myself with the concept. I think we should add it.

[2020-12-12 15:09] chipzoller commented on #97
Should we try and support in this version or table for 2.0 milestone?

[2020-12-12 15:10] chipzoller commented on #94
Can this be remediated in the current version track?

[2020-12-12 19:10] onweru commented on #97
I think we can install this right away

[2020-12-12 19:12] onweru commented on #94
Once I give it the attention it needs, yes.

[2020-12-17 03:10] Fingel commented on #49
Just wanted to say, amazing theme. I was just about to start implementing search with it and found this. Now I think I'll just be patient. Thanks! Please post here if you need any help.

[2020-12-18 06:34] Y4er opened #107 "Feature Request: Add archive page and support more comment system"
# Add archive page
There are too many articles. It is troublesome to turn page by page. I hope there is a page to store the article archive.

like this: https://themes.gohugo.io//theme/hugo-theme-zzo/en/archive

# support more comment system
in china,Access to Disqus is very slow, a better option is utteranc.

If I have time, I will submit pr to do these things. thanks.

[2020-12-22 09:17] bluelupo opened #108 "Help wanted: Show my own favicon"
Hello,
I would like to change the favicon in the Clarity theme to a custom icon. Which configuration files do I have to change for this and which graphic files (png) do I have to replace.

I found a configuration file (favicon.html), but changes in the file $HOME/hugo/layouts/partials/favicon.html have no effect on the displayed favicon.ico.

Listing of the unchanged favicon.html:

Is this even th

[2020-12-22 11:11] onweru commented on #108
@bluelupo, add your favicons inside `static/icons` directory

[2020-12-23 15:47] #108 closed

[2020-12-23 19:01] aliddell opened #111 "Links menu (data/menu,yaml) template is missing, 404 in docs"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

The link under "edit this YAML file" in the docs [here](https://themes.gohugo.io/hugo-clarity/#modify-links-menu) (and consequently in the [readme](https://github.

[2020-12-23 20:30] onweru commented on #111
True that info is dated. Updating now. Use the config.toml file instead

[2020-12-23 20:48] #111 closed

[2020-12-23 22:06] #4 closed

[2020-12-23 22:28] #38 closed

[2020-12-23 22:51] #77 closed

[2020-12-25 12:12] hiensarahly opened #112 "Question: showing Related Content"
Hey Clarity theme Creators!

Is the “Articles in the Exploring Kyverno series” part here manually added, on every post in the series?

https://neonmirrors.net/post/2020-12/exploring-kyverno-part3/#articles-in-the-exploring-kyverno-series

Can it be configured to show Related Content with the same Tags or Categories?

[2020-12-25 13:11] chipzoller commented on #112
Yes, that was added manually. Currently theme can't do what you're asking in an automated fashion. It's worth considering, however that's kinda the whole purpose of using tags and categories to begin with: so users can find related content if they wish. Having all content with the same tag(s) and/or categories seems a bit superfluous, I suppose.

[2020-12-25 15:03] hiensarahly opened #113 "Custom home page"
Thanks guys for making this theme! Is there an option for making a custom home page, or other custom pages?

[2020-12-25 15:44] hiensarahly commented on #112
Ah, forgot about that! I just tried it on mobile—the sidebar part becomes the bottom part of the post. That’ll work then.🙂 And yes, sometimes to use/customize a theme, it’s good first to understand the theme makers intentions.

[2020-12-25 21:19] chipzoller commented on #113
When you're talking about "custom" pages, this is somewhat outside the scope of a theme to begin with (the theme provides "cookie cutter" pages with similar aesthetics), but you're welcome to create any page you want as standard HTML. If you maybe meant something else by "custom" please clarify.

[2020-12-26 01:56] hiensarahly commented on #112
On desktops and tablets, when one finishes reading a post they’ll have to scroll back up to find similar tags.

[2020-12-26 02:04] hiensarahly commented on #113
I mean if we can configure a home page, for example, as a brief introduction to the site. Then have all the blog posts moved over to a Blog section—with Blog on the top menu. Is it doable from your experience?

[2020-12-26 04:41] hiensarahly opened #114 "Question: Clarity theme customization"
If we git clone the Clarity theme to our local repo, make some changes, push it to a different remote repository... then, whenever the original Clarity theme here gets updates, will doing git pull to the local repo override the theme customizations?

[2020-12-26 12:57] chipzoller commented on #112
Yes, that's how it works.

[2020-12-26 12:58] chipzoller commented on #113
Anything is doable, but it's not something we provide for in this theme.

[2020-12-26 13:00] chipzoller commented on #114
You would fork this repo first, then `git clone` locally. From that point forward, any changes to this repo will not automatically be reflected in your forked copy. You can choose to rebase or merge the upstream with your fork, but you may have merge conflicts.

[2020-12-27 02:23] hiensarahly commented on #112
It’s a common feature for the flow of the user’s reading experience. Just sharing some feedback. Was not criticizing. Seems like you’re not open for this so I’ll be closing it.

[2020-12-27 02:23] #112 closed

[2020-12-27 02:24] hiensarahly commented on #114
Thanks

[2020-12-27 02:24] #114 closed

[2020-12-27 02:41] #113 closed

[2020-12-28 03:28] mingjie-gmj opened #118 "Get json failed"
hugo server

Start building sites …

ERROR 2020/12/28 11:27:12 Failed to get JSON resource "https://api.twitter.com/1/statuses/oembed.json?id=1085870671291310081&omit_script=true": Get "https://api.twitter.com/1/statuses/oembed.json?id=1085870671291310081&omit_script=true": dial tcp 208.43.170.231:443: i/o timeout
If you feel that this should not be logged as an ERROR, you can ignore it by adding

[2020-12-28 06:01] onweru commented on #118
@mingjie-gmj, please include debug info e.g Hugo version you’re using. Other than that check out https://github.com/gohugoio/hugo/issues/7228

[2020-12-28 18:56] rchamarthy opened #119 "LICENSE.md copyright"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X] Read the README.md
- [X] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference

**Describe the bug**

Hi Chip and Dan, First of all, thank you for open sourcing this wonderful Hugo theme. I am new to blogging and was looking for a theme that would fit my needs as a

[2020-12-28 19:49] onweru commented on #119
If you can please do.

It was most certainly the latter.

[2020-12-29 15:12] chipzoller commented on #119
Thank you for your contributions, @rchamarthy !

[2020-12-29 15:15] chipzoller commented on #118
When creating bug reports, please use the template to provide the requested information rather than deleting it.

[2020-12-29 15:19] chipzoller commented on #107
Supporting Utterances is something we have considered. A PR that adds this would be most welcome.

[2020-12-29 20:52] rchamarthy commented on #119
@chipzoller @onweru  - Thank you for making this wonderful theme!

@onweru issued a PR #121

[2020-12-29 21:04] #119 closed

[2021-01-07 05:53] amca01 opened #126 "Request for two enhancements: prev/next post, & list of all posts"
I have moved to Clarity from Blackburn, which is no longer updated.  And I like Clarity very much.  There are two things I miss though:

1. Links at the bottom of every post to go to the next, or previous, post.
2. A list of all blog posts, separated by year.

If you go to [blackburn](https://themes.gohugo.io//theme/blackburn/) you'll see what I mean; the list of all posts is given by "Posts" in t

[2021-01-07 19:33] chipzoller commented on #126
These are some valuable enhancements and we'll look into how we might be able to integrate them in the next version.

[2021-01-08 12:36] Bas-Man opened #127 "Feature: Add additional social svg to icons.html"
Could you guys please add images for:
- dev.to
- flipboard
I have manually added, but would be nice to add images that are consistent with the theme colour scheme.

[code]
I got these from free services. But they are not ideal.

[2021-01-09 04:05] amca01 commented on #126
I've got the previous/next posts working by simply copying some files across from the blackburn repo and including a few extra lines in `layouts/partials/head.html`  and in `layouts/_default/single.html`.  This was done in a bit of a brain-dead manner, but it works fine.  I can send you the amended files if you want.

I don't think getting a list of all posts will be too difficult, but I haven't g

[2021-01-23 20:43] Monklite opened #130 "Links drop down menu not working if current page has pictures"
Some of my content has pictures in it and if I am viewing those posts and click the "links" menu in the drop down menu, it first redirects me to the home page before I'm able to access the links drop down menu. If; however, the post does not have pictures then the drop down menu works as expected. I'm assuming this isn't intentional.

EDIT: This is actually due to commenting out lines 263-264 in i

[2021-01-23 21:11] #130 closed

[2021-01-29 01:27] Monklite opened #131 "Feature: Add configuration parameter to disable theme switch"
I think that the day/night toggle switch is pretty cool; however, my website is intended to be themed dark consistently and I'd prefer to remove the day/night toggle. I could just pull it out of the code, but a configuration parameter to disable it would be a better solution as it would provide that option to everybody.

[2021-01-29 16:22] chipzoller commented on #118
Closing with no activity for a month.

[2021-01-29 16:22] #118 closed

[2021-01-30 12:36] onweru commented on #131
Interesting, I have always thought that the user must always reserve the right to choose, https://github.com/chipzoller/hugo-clarity#forcing-light-or-dark-mode. That’s whenever possible, I as a site owner should not have to unilaterally decide what’s best for them.

![700767C8-7688-420C-811B-722C537CD03A](https://user-images.githubusercontent.com/16350351/106356414-7516ff00-6310-11eb-80a7-7f5ceb40

[2021-01-30 12:42] onweru commented on #127
@Bas-Man, please consider opening a PR for this sort of thing.

[2021-01-30 12:42] #127 closed

[2021-02-01 12:52] chipzoller commented on #131
I think the danger we have with things like this (not singling anyone out) is that we risk creating **too many** knobs and switches for params. Making the theme extensible and customizable was a goal, but a non-goal was to effectively enable a "build-your-own" by tweaking parameters. We'll consider something like this, but no promises :)

[2021-02-01 13:49] onweru commented on #131
This is definitely a [could have](https://en.wikipedia.org/wiki/MoSCoW_method#could) feature #MoSCoW

[2021-02-01 18:06] Monklite commented on #131
I won't be offended if you choose to reject this idea, your reasoning is entirely understandable. Removing that part of the theme isn't difficult anyways, I can just comment it out. Think about it some more, but yes scope creep can be a real issue and it can quickly become overly complicated if not careful.

[2021-02-07 06:40] outbegin opened #136 "Internet Explorer requires compatibility"
This is a cool body but the layout displayed in Internet Explorer is cluttered.
Expect to improve！

 - Browser [Internet Explorer 18363.13.16]

[2021-02-07 12:04] chipzoller commented on #136
Internet Explorer is a horrendous browser that is on its last leg. We built this theme optimized for modern browsers and not legacy technology. If you'd like to fork this theme and add support for IE, you're most welcome to do so, but we will not be working on this issue.

[2021-02-07 12:04] #136 closed

[2021-02-10 17:18] kiadso opened #137 "Clarification in documentation"
When I go to add a thumbnail to a post, the path starts at "content", not at the the post's directory, so I had to add some directories to the thumbnail reference to get it to work. The documentation doesn't specify this. Here's what I used that worked:

thumbnail: "post/post-slug/images/thumbnail.jpg"

Thank you for this wonderful theme and great documentation!

[2021-02-10 19:13] chipzoller commented on #137
I thought that it defaults to the /static dir as a base. Anything specified from there forward is what goes into the `thumbnail` parameter. So you specifying post/ is strange. Maybe this was a Hugo change? @onweru does this sound right?

[2021-02-10 19:54] onweru commented on #137
@kiadso,

We are following [Hugo's static files management](https://gohugo.io/content-management/static-files/) lead. @chipzoller is right that the `static` dir is used as a base.

If your images are stored in `/static/images` dir, what you currently has as as `post/post-slug/images/thumbnail.jpg` ought to be `/images/thumbnail.jpg`

[2021-02-10 19:54] #137 closed

[2021-02-15 01:07] olegtech opened #140 "Disqus Comments"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**
Thank you for the theme. I recently installed it but can't see any comment affect (disqus).
- added to config.toml :  ***disqusShortname = "discuss_xxxxxx"***
- and

[2021-02-15 01:26] luizyao opened #141 "hugo build failed: can't evaluate field Title in type string"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [ ] Used the exampleSite's config.toml as a reference

**Describe the bug**

[code]

It seem that there are problem to accessing page variables inside with function.

[code]

**Desktop (please complete the following information):**
 - hugo

[2021-02-15 01:59] onweru commented on #141
Thanks @luizyao for reporting this. It should be fixed now.

[2021-02-15 01:59] #141 closed

[2021-02-18 17:27] ghost opened #142 "Add Bengali (bn-BD) translation"
'Bengali' or 'Bangla' is the 7th most spoken language in the world according to [WorldAtlas](https://www.worldatlas.com/articles/most-popular-languages-in-the-world.html). I think Bengali would be a cool addition to the available translations in **Hugo Clarity**. As a Bengali speaking person, it would be fairly easy for me to add Bengali translation. I would like to submit a `Pull Request` when I'

[2021-02-20 18:15] #142 closed

[2021-02-20 18:34] onweru commented on #140
@olegtech,

Please ensure that you follow these instructions carefully.
https://gohugo.io/content-management/comments/#configure-disqus
https://github.com/chipzoller/hugo-clarity#comments

[2021-02-22 05:04] #140 closed

[2021-02-22 07:54] timschps commented on #141
have it too! I switched back to commit  88f6cf4

[2021-02-23 14:26] mochi5o opened #145 "Include unnecessary strings in articles"true""
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

[https://themes.gohugo.io//theme/hugo-clarity/post/markdown-syntax/](https://themes.gohugo.io//theme/hugo-clarity/post/markdown-syntax/)
![image](https://user-imag

[2021-02-23 14:31] mochi5o commented on #145
And thank you for making such a cool theme. I would love to keep using this!!

[2021-02-23 20:49] onweru commented on #145
@mochi5o, thank you for catching this. Fixing right away

[2021-02-24 20:36] #145 closed

[2021-03-03 18:37] gainngo opened #148 "Fails to load in live and multiple errors shows up in console"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [✅ ] Read the README.md
- [✅ ] Have the extended version of Hugo installed
- [✅] Used the exampleSite's config.toml as a reference

**Describe the bug**
1. Unable to get the site details like title and desc updated (despite having the details updated in config file)
![image](https://user-images.githubusercontent.c

[2021-03-04 06:01] onweru commented on #148
@gainngo, could you try setting your baseURL as `https://www.gainngo.com/`?

[2021-03-04 06:54] gainngo commented on #148
@onweru I remember setting the baseURL to the same. However, I have installed another theme. So I guess this issue is not longer relevant :(

[2021-03-04 06:54] #148 closed

[2021-03-11 00:16] mc-gulu opened #150 "How should I practically change the font to use system default font? (because bold doesn't take effect)"
(For Chinese text, the bold doesn't work and it stills shows plain unbolded text)

I found that only `customFonts = true`  is related and I don't know how to proceed to change the font.

The markdown source:

![001](https://user-images.githubusercontent.com/1855937/110716348-f16efd00-8241-11eb-849e-9e0b2001f221.png)

The rendered effect:

![002](https://user-images.githubusercontent.com/1855937/11

[2021-03-11 02:21] chipzoller opened #151 "[BUG] Regression, image captions appear in featureImage"
Hi all,

there was a change that added the Title as the alt text to the featureImage - that is very useful and seems to be seo relevant. But now the Title shows up under the first picture of an article as well - is there any way to disable this?

Thanks a lot

Thomas

_Originally posted by @konsumschaf in https://github.com/chipzoller/hugo-clarity/discussions/149_

[2021-03-11 02:21] chipzoller commented on #151
@onweru Confirmed as a regression. Image referenced in `featureImage` should not display caption.

[2021-03-11 02:23] chipzoller opened #152 "[BUG] Jump to top button wrong"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Jump to top button has changed to the "hamburger" icon

<img width="55" alt="image" src="https://user-images.githubusercontent.com/29008123/110726101-d6bb6a80-81e6

[2021-03-11 08:25] onweru commented on #151
I will look into this

[2021-03-11 11:01] #152 closed

[2021-03-11 11:29] onweru commented on #150
@mc-gulu, thanks for raising this. I will apply a remedy asap

[2021-03-21 21:20] rootwork opened #156 "Remove `copyright` value from config.toml as it's not being used"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**
 I'm going to post a larger documentation/clarification issue next, but to keep the scope of the actual bug clear, here it is:

As far as I can tell, post-i18n chan

[2021-03-21 21:47] rootwork opened #157 "Clarify how to change translatable text on monolingual site"
This isn't so much a bug as a request for documentation.

Summary: **The documentation covers how to change translations of particular text when using a multilingual site. It does not explain how to change these text values on a monolingual site in which you have (as the README suggests) removed the translations.**

As background, I've read the [i18n section of the README](https://github.com/chipz

[2021-03-22 14:22] #157 closed

[2021-03-22 14:33] #151 closed

[2021-03-22 14:33] #156 closed

[2021-03-22 19:54] rootwork commented on #150
I think it's just because [the fonts being loaded](https://github.com/chipzoller/hugo-clarity/blob/master/assets/sass/_fonts.sass) don't include a true "bold" version.

[2021-03-22 20:02] rootwork opened #160 "Feature request: Move all head declarations into `head.html` partial, or create multiple head partials"
I wanted to preload my self-hosted font, so I looked in the [`head.html` partial](https://github.com/chipzoller/hugo-clarity/blob/master/layouts/partials/head.html).

Turns out that's really only part of the HTML `<head>` section, though. The rest of it is defined in [`baseof.html`](https://github.com/chipzoller/hugo-clarity/blob/master/layouts/_default/baseof.html).

It would be nice to be able t

[2021-03-22 22:57] mc-gulu commented on #150
Alright.

I changed the font-face to 'Microsoft Yahei' but nothing changed and it still doesn;t show bold correctly.

![image_001](https://user-images.githubusercontent.com/1855937/112068346-ac818980-8ba4-11eb-88a1-4a4549023e09.png)

I removed the content of the `_font.sass` entirely to try to "clear the font customization" but nothing changes.

I'm not quite familiar with css. May I ask that how

[2021-03-22 23:08] mc-gulu commented on #150
I also tried to change font in `_variables.sass` and `main.sass` but it doesn't work either.

[2021-03-29 06:48] eskildsen opened #161 "Feature Request - Secondlevel submenus"
Hi,

We would like to have secondary submenus, meaning that you can have a menu structure like "Desserts -> Icecream -> Strawberry". E.g. it could be configured with `config.toml` having markup similarly to below:

[code]

How would you go around doing that?

[2021-03-29 20:48] andyjenkins1 commented on #98
All - Just wondering if any update on this enhancement?, While a small one I think it would be both a great visual and layout improvement for users.  Any feedback greatly appreciated.

[2021-03-29 20:51] onweru commented on #98
@andyjenkins1, I will add this one asap (within the week).

[2021-03-29 21:45] #98 closed

[2021-03-29 21:51] onweru commented on #160
@rootwork,

I define them all in the base because I wanted to preload the scripts as well. I wanted to define the variables in one place (DRY). In retrospect, I guess  I can use Hugo's [returning partial feature](https://gohugo.io/templates/partials/#returning-a-value-from-a-partial) to implement your request.

[2021-03-29 22:02] onweru commented on #150
@mc-gulu, please let me know if the change worked.

[2021-03-29 22:26] rootwork commented on #160
Ah, that does make sense.

Well it's up to you of course, it's just an idea I had.

[2021-03-29 22:33] onweru commented on #74
@knurd, here https://github.com/chipzoller/hugo-clarity/blob/a685f840b5a744ab6f22a6eb9ff16e8bc7fdae00/exampleSite/config/_default/params.toml#L82-L83

[2021-03-29 22:33] #74 closed

[2021-03-29 22:45] onweru commented on #94
@chipzoller, can you reproduce this again. Following your initial description, I was unable to reproduce it.

[2021-03-29 22:48] onweru commented on #107
Agree, something like https://github.com/chipzoller/hugo-clarity/pull/83 but documented in the readme.

[2021-03-29 22:48] #107 closed

[2021-03-29 22:49] #131 closed

[2021-03-30 03:07] mc-gulu commented on #150
It works!

![665C36E9-FDEF-478C-8CE1-FEF979425B9B](https://user-images.githubusercontent.com/1855937/112927733-0a374800-9148-11eb-9dee-dd172e126079.jpg)

[2021-03-30 08:08] andyjenkins1 commented on #98
Perfect - Thank you so much!!! - Will check it out!

[2021-03-30 10:04] #150 closed

[2021-04-01 15:05] andyjenkins1 commented on #49
All just checking in to see what the latest update was on Search?, Noticed the last update was Dec, so just checking to see if any further progress?.  Great theme and excellent work!.

[2021-04-01 15:34] andyjenkins1 opened #163 "Enhancement: add parameter to allow author photo on the homepage"
On the righthand side of the homepage where we have Blog Author and Bio details, it would be great if we could add a photo option to go above the author which could then be toggled via parameter in config.toml on whether or not it should be displayed.

Apologies if this is already possible, but couldn't see anything in the documentation.

Great work as always.

[2021-04-02 12:59] chipzoller commented on #94
Will check.

[2021-04-02 13:01] chipzoller commented on #49
Search is still planned for Clarity v2 which should kickoff in the next couple of months. If you'd like to get a feel for what we're planning on bringing to Clarity, check out @onweru custom search function [here](https://docs.neuralvibes.com/).

[2021-04-03 09:03] andyjenkins1 commented on #49
Thats, great, appreciate the update!.

[2021-04-04 09:47] jmiguelr opened #164 "Responsiveness problems on theme (including mobile)"
First of all, thank you for your efforts in this great hugo theme.

After configuring a new site I've found some issues loading the blog on mobile. I've created a brand new site with default config and problems are also present.

Default site:
![image](https://user-images.githubusercontent.com/1624675/113504848-40573c00-953b-11eb-854c-07a03ccf6eb3.png)

My own site:
![image](https://user-images.gi

[2021-04-04 12:34] chipzoller commented on #164
Can you please provide details on your device and browser combination?

[2021-04-12 09:31] jmiguelr commented on #164
Sorry for delay.  Mobile phone is a Oneplus 5T.   For browser tests I used both Firefox and Chrome. O.S. is Linux.

Thank you for your reply.

[2021-04-19 11:30] atticoder opened #166 "Meta "generator" inserted to every page, does not honor disableHugoGeneratorInject"
Presently meta tag "generator" is inserted to every page by partial head.html and cannot be turned off by Hugo site variable disableHugoGeneratorInject.

https://github.com/chipzoller/hugo-clarity/blob/b34fe0008cc612f5891f37c9f78f2696d2c79d26/layouts/partials/head.html#L13

Line 13 with "{{ hugo.Generator }} " can be removed completely from partial head.html, then Hugo will insert generator meta o

[2021-04-19 11:57] atticoder commented on #164
The issue is not mobile specific, it is always reproducible with any browser (Edge, Chrome, Firefox) on Windows. The problem is that when menu switches from top bar text menu to popup menu (when window width is too narrow to fit menu texts), the menu will be visible by default and on wrong position (but should be hidden and shown only when clicking menu button).

1. Open page that has top menu
2.

[2021-04-21 06:12] addozhang opened #168 "Google analytics CORS issue"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [ x] Read the README.md
- [ x] Have the extended version of Hugo installed
- [ x] Used the exampleSite's config.toml as a reference

**Describe the bug**

my site is https://atbug.com

![image](https://user-images.githubusercontent.com/2224492/115504758-014f1780-a2ab-11eb-9e21-5622abf538ed.png)

**Desktop (please

[2021-04-21 11:47] addozhang commented on #168
Checked  on my another device with Chrome 90.0.4430.72, and it works fine. Very strange.

[2021-04-21 11:47] #168 closed

[2021-04-21 23:19] atticoder commented on #164
I found a workaround for the "menu being always visible on small screen" issue by setting the menu to right side in site config (toml):

[code]
Without this, at present, the web site that use Clarity theme is not usable at all on small-to-medium resolution mobile screen if more than few menu items are used, as total menu items width is then wider than the screen and ghost popup menu that appears o

[2021-04-21 23:24] atticoder opened #169 "Menu and night mode switch do not work when cookies are disabled"
Menu and night mode switch do not work when cookies are disabled in the browser.

When page is loaded on small screen so main menu is automatically hidden to be displayed by menu button, menu cannot be opened at all and thus site cannot be navigated.

[2021-04-22 00:13] onweru commented on #169
@atticoder, that's by design. That switch uses a token that is saved to [the browser's localStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage)

[2021-04-22 00:16] onweru commented on #164
This sounds like a bug, the menu should work well irrespective of whether `mobileNavigation` is set to `right` or `left`. I will try to reproduce this and apply a fix soon

[2021-04-22 00:41] #166 closed

[2021-04-22 10:10] atticoder opened #171 "Excess whitespace below except"
Excepts display excess whitespace between post meta items and actual excerpt text. Actual post page does not show such wide whitespace and is more pleasing to the eye. Seems the issue could be solved by reducing bottom margin of excerpt_header CSS class.

![excerpt_header height](https://user-images.githubusercontent.com/47108804/115696093-04114180-a36b-11eb-93bf-1bc67e7a9e21.png)

[2021-04-22 10:12] #171 closed

[2021-04-22 10:12] #169 closed

[2021-04-22 10:16] onweru commented on #171
Consider opening a PR with improved spacing. In the PR, also include a screenshot of the improved version. I will consider it

[2021-04-25 15:16] atticoder opened #176 "If relativeURLs = true then loadSvg may fail to load 'icons/link.svg' and may crash page"
The image `link.svg` mentioned below is used on pages that have headings in text to display link image next to heading (when user hovers over the heading with the mouse).

This issue only happens with the following site config and **when site is deployed to a non-root folder (e.g. yourdomain.com/test)**:

[code]
Bundled JavaScript function:
[code]
This function constructs file path `/icons/link.sv

[2021-04-25 16:49] onweru commented on #176
@atticoder, thank you. This makes sense, I will apply a fix asap.

[2021-04-25 17:13] #176 closed

[2021-04-25 17:43] onweru commented on #164
@jmiguelr, @atticoder, this should be decisively fixed now. This was happening whenever `mobileNavigation` wasn't set in [config/_default/paramls.toml](https://github.com/chipzoller/hugo-clarity/blob/70b8924d99d8f995a34465e1a7fed52563a55368/exampleSite/config/_default/params.toml#L45).

[2021-04-25 17:43] #164 closed

[2021-04-25 18:58] onweru commented on #163
@andyjenkins1, this is now on, the way you show an author photo on the sidebar, is [this way](https://github.com/chipzoller/hugo-clarity/blob/3c510d87b6ea65fb9c330dbf4093aa382c52dbe4/exampleSite/config/_default/params.toml#L84-L87). Be sure to delete `author` entries from the config

[2021-04-25 18:58] #163 closed

[2021-04-26 11:28] andyjenkins1 commented on #163
This is great news!, I will check it out!, thank you for updating and accepting!.

[2021-04-26 15:04] atticoder opened #177 "Round #documentTop button in bottom right corner is not repositioned when browser window size changes (Edge, Firefox)"
Not a big issue but with Edge and Firefox the left position of the button remains where it was placed when document was created, only top position will update when window is resized. With Chrome it works OK.

[2021-04-27 08:50] atticoder commented on #177
I now tested this in Windows Sandbox with fresh installs of Chrome, Edge and Firefox and with all of the browsers the #documentTop button left position is not updated when browser window is resized.

However, as bizarre as it sounds, when cookies are **disabled** (not enabled), then the button starts to position it in bottom right corner when window is resized. My wild guess is that is because nig

[2021-05-16 19:25] rwaal opened #179 "Feature request - make introDescription overridable on page"
I use the global option `introDescription` to describe a few lines about myself. I also have an "About" page, which contains some more personal details. But it doesn't make sense for that page to also show the `introDescription`. It's redundant, and looks a bit strange.

It would be great if the `introDescription` option can be overriden on pages. Currently, it's a global option which cannot be ov

[2021-06-03 21:15] albersonmiranda opened #180 "Highlight"
If hightlight style is hardcoded into _syntax.sass, what does
[code]
do?

And more important, how do I change highlight theme?

[2021-06-04 00:01] albersonmiranda commented on #75
I don't know if it helps, but if I managed to think of a workaround to enable highlight, copy, line numbers, block height etc:

[code]
Code encapsulated by `blogdown::shortcode()` returns
[code]
Which makes everything render properly. Downside is that the code isn't evaluated so I have to duplicate everyline that has to be evaluated by R engine. You can see an example in the end of [this post](htt

[2021-06-04 09:58] asitav-sen opened #181 "Feature Request: Cookie consent and website behaviour"
Hi Chip,
Thank you for your awesome work!
I was wondering if it is an option to include a cookie consent pop-up in the theme, with the provision to no allow the user to access the website without the consent.
Thanks to GDPR, this has become a very common requirement.

[2021-06-04 12:53] onweru commented on #180
@albersonmiranda, that setting isn't applicable to this theme. If you need to change the highlighting looks you would need to [edit colors directly via file](https://github.com/chipzoller/hugo-clarity/blob/7464d0088f20d3d77ab9a0cf5762535e15cc6e40/assets/sass/_syntax.sass#L109-L170). It's advised that you [override those styles](https://github.com/chipzoller/hugo-clarity#custom-css-and-js)

[2021-06-04 12:53] #180 closed

[2021-06-04 13:27] chipzoller commented on #181
Because this theme does not make use of cookies at all (@onweru to correct me) it's GDPR ready out of the box.

[2021-06-04 13:56] onweru commented on #181
@chipzoller, you're right. However,  some people may use something like google analytics which has cookies. This way, I think adding the popup would be helpful. This popup will have a GDPR knob on the config so that it's optional. I too didn't think of this before.

[2021-06-04 14:25] chipzoller commented on #181
This sounds like something we should implement.

[2021-06-04 15:58] asitav-sen commented on #181
Thank you!

[2021-06-12 00:30] luigi311 opened #186 "[Feature Request] Hide shortcode from the preview in the main page"
If the post consists of mostly shortcode for things such as chartjs then the preview of the post will display shortcode in it. This should be hidden as its not something the end user sees or wishes to see.

This is what it looks like now
![image](https://user-images.githubusercontent.com/4695527/121759391-bb604400-cae2-11eb-8eae-a4ac452ee8ab.png)

This is what it should look like
![image](https://

[2021-06-12 00:39] luigi311 commented on #186
Source code can be found here https://gitlab.com/Luigi311/finance.luigi311.com for additional information if needed.

[2021-06-16 08:18] gary094 opened #187 "Archives and how do they get added?"
Hello, thanks for your work on this beautiful theme!

I'm new to hugo but at this point I understand the basic structure.
However I cannot figure out how posts get added to the Archive.

By default post "Rich Content" is visible in the Archive but it seems it is not mentioned anywhere in the rich-content.md
I would assume there would be some kind of switch like "archive: true" (similar what draft:

[2021-06-16 12:37] #187 closed

[2021-06-17 03:00] carlosgino opened #189 "Images png in rmd not load in webpag of netlify.app in Hugo clarity theme"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [ ] Read the README.md
- [ ] Have the extended version of Hugo installed
- [ ] Used the exampleSite's config.toml as a reference

**Good afternoon:
I have uploaded the clarity theme to my website with netlify and I have noticed that the images that load in the rmarkdown document do not load in the html and therefo

[2021-07-05 04:11] jonlimx opened #191 "codeMaxLines and codeLineNumbers doesn't work as expected"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**
codeMaxLines and codeLineNumbers doesn't work as expected. I set codeMaxLines = 10
and codeLineNumbers = true in params.toml (in config.toml).
![image](https://user

[2021-07-05 17:33] onweru commented on #191
@jonlimx, would you mind if I saw your entire setup i.e the repo?

[2021-07-06 00:18] Ahmed-E-86 opened #193 "Feature Request: Add Reddit to supported social icons"
I was testing hugo-clarity with my blog, and I added Reddit to social, but its icon did not appear. I checked icons.html, and I found out that Reddit it is not supported.

Are there any intentions to add it?

[2021-07-06 00:23] onweru commented on #193
@Ahmed-E-86

Not really, we add icons on a request/need-basis. You can add the reddit icon like so https://github.com/chipzoller/hugo-clarity/pull/110/commits

[2021-07-06 00:23] #193 closed

[2021-07-06 01:06] jonlimx commented on #191
@onweru Thanks for your time. Sure, I have config.toml, menus.zh.toml and params.toml under xxx/config/_default. I am pasting the configurations as follows:

**config.toml**
`baseURL = "https://www.jonathanlin.top/"
languageCode = "zh-cn"
title = "Standing on the Shoulder of Giants"
theme = "hugo-clarity"
DefaultContentLanguage = "zh"
copyright = "Copyright © {year} Jonathan Lin. All rights reserv

[2021-07-06 11:13] onweru commented on #191
Thanks for this. I was expecting to see the repo so that I can test it on the browser. Do you have a link to the repo?

[2021-07-06 12:10] jonlimx commented on #191
I have invited you to my repo.

[2021-07-06 17:03] onweru commented on #191
@jonlimx, I found what the problem is. Please add this file https://github.com/chipzoller/hugo-clarity/blob/master/exampleSite/config/_default/markup.toml inside `config/_default` directory. I cloned and tested your repo and it should work. Happy blogging.

[2021-07-06 17:06] onweru commented on #189
@carlosgino, please link your repo here, it's easier to look at it instead.

[2021-07-07 05:12] jonlimx commented on #191
@onweru Thanks, it works!  And sorry for maybe a stupid mistake I have made. Thanks again for your time.

[2021-07-07 05:12] #191 closed

[2021-07-12 13:29] #189 closed

[2021-07-20 15:09] callagg1 opened #197 "Adding a fabform.io contact form to the template"
Adding a fabform.io contact form to the template

Hello
Since this a static hugo template and has no contact form or database hooked up.
I was wondering if you could add a contact form to the template to use with https://fabform.io the [google forms alternative](https://fabform.io)

It's just a few lines of code

I can update your template or you can if you like and push the changes to your reposi

[2021-08-12 13:09] dahlsailrunner opened #198 "[Feature Request] "Notice" block capability"
I'm about to release an updated version of my blog to use the hugo-clarity theme - super awesome.

I added an additional shortcode to my custom code and was wondering if you'd want to consider adding it here: it's the "notice" type block that you can see here:  https://knowyourtoolset.com/2021/03/authoring-short-targeted-videos/#6-combine-video-with-polished-audio
(it's the green-ish block in the

[2021-08-12 23:57] rootwork opened #199 "Line height in `post_link` creates non-clickable gap in multiline titles"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

`<h3>`s have `line-height: 1.35` set on them. When an `<h3>` is also a `post_link`

[2021-08-13 00:13] rootwork commented on #199
Also, happy to turn this into a PR if my solution looks OK.

[2021-08-13 10:48] onweru commented on #198
@dahlsailrunner, I think it's a good idea. @chipzoller, what do you think?

[2021-08-13 10:50] onweru commented on #199
@rootwork, please proceed.

[2021-08-13 18:57] rootwork commented on #199
Sorry for that muddled PR. #201 is the clean one.

[2021-08-15 16:33] onweru commented on #199
Thank you @rootwork

[2021-08-15 16:33] #199 closed

[2021-08-18 12:43] chipzoller commented on #198
Yes, this would be cool to add, @dahlsailrunner ! These notice blocks are something I actually like in the Docsy theme and had an idea of working on them a while back. Your PR would be most welcome!

[2021-08-18 13:24] dahlsailrunner commented on #198
Ok - I'll try to submit something before Monday.  I was not planning on changing the CSS but that would be the biggest question in my mind.  Currently the same coloring is used on these regardless of dark/light mode.  I'll get a PR started and we can iterate if needed.  :)

[2021-08-20 16:06] dahlsailrunner commented on #198
PR Submitted!  https://github.com/chipzoller/hugo-clarity/pull/204

Happy to discuss / make revisions.

[2021-08-24 21:16] dahlsailrunner commented on #198
PR #204  was merged!

[2021-08-24 21:16] #198 closed

[2021-09-06 07:27] mochamadboval opened #207 "rich-content.md prevented the build process"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed

**Describe the bug**

I just installed the theme, but failed on the build process. It seems there was an error in **rich-content.md** file. Delete it will fix this problem.
![Screenshot from 2021-09-06 14-02-58](https://user-images.githubuse

[2021-10-05 21:52] akirillov opened #212 "_override.sass doesn't take an effect on component styles"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

I'm playing with this awesome Hugo theme (kudos for creating it!) and trying to modify some styles by following the README and placing all the changes in the `_ove

[2021-11-12 12:37] rasmusson opened #214 "Feature request: Post relative thumbnail image"
When setting a thumbnail image in post frontmatter you must set the path for the image from the root of the webpage.
This either means you need to hard code the path for the post directory or put all thumbnails together in a folder.

Would it be possible to instead look for the image relative to the post? This will make it easier to organize images and make it more robust.

[2021-11-12 12:41] rasmusson opened #215 "Feature request: Use hugo image processing on thumbnail and featured image"
Right now the thumbnail and features image is looking for a image file and simply includes it.
Would it be possible to use hugo image processing to process the image before including it?

[2021-11-15 11:41] onweru commented on #215
@rasmusson, we have discussed this in #72, and there's an open PR #206

[2021-11-15 11:41] #215 closed

[2021-11-15 11:42] onweru commented on #214
@rasmusson, please see the comment on #215

[2021-11-15 11:42] #214 closed

[2021-11-15 11:44] onweru commented on #212
@akirillov, I will look into this.

[2021-11-15 13:14] chipzoller commented on #215
I'm getting to that PR this week.

[2021-11-21 07:44] kevinlv1024 commented on #207
yes,I have the same promble.

[2021-11-24 02:24] drewkhoury opened #218 "no serverfault icon for social media profile"
There is a stackoverflow profile icon for the social media links in the top right, but I'd also like to add one for serverfault.

Is there any way to do that myself now, or have that in a future update to the template?

[2021-11-26 09:09] SurprisedCat commented on #207
When render shortcode like 'twitter_simple' or 'vimeo_simple', it needs connecting to a specific server for some data. If you have some network problem (GFW, most commonly), the error shows up. Just delete the related 'Simple Shortcode' in rich-content.md.

[2021-11-29 13:57] #207 closed

[2021-11-30 00:09] rootwork opened #219 "Use image "title" attribute for captions rather than "alt" attribute"
(Omitting issue template since this is more of a feature request than a bug report.)

Unless I'm mistaken, [this change](https://github.com/chipzoller/hugo-clarity/pull/206/commits/d1a105457e5451e01dfe2ecf41478b80949612bc) to #206 reverted to using the `alt` attribute in images to populate captions, rather than `title`, which is what I'd originally proposed in that PR (mentioned in item 3). Don't

[2021-11-30 00:17] chipzoller commented on #219
I think you make a good case and I would like us to align on best practices in the industry. Although I would have to personally go to all of my blog posts (since I use this theme) and make the change, I'm glad to do so. But other than a practical recommendation, what is your suggestion here? Is this in need of code or just documentation?

[2021-11-30 04:21] rootwork commented on #219
The code piece is that the JS is grabbing the content of the `alt` attribute to populate the captions, so that would have to change to grabbing `title` instead. I can pull that part out from the original version of the PR and create a new PR if you agree.

Do you want to include some sort of script to auto-duplicate `alt`s to empty `title`s, or is that too much?

[2021-12-01 12:59] chipzoller commented on #219
cc @onweru

[2021-12-01 14:33] chipzoller opened #221 "RSS feed scraping all content"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

The `index.html` file for RSS feeds is now scraping the entire article content rat

[2021-12-01 14:34] chipzoller commented on #218
We don't publish instructions for how to add/swap these out, do we @onweru ?

[2021-12-01 15:48] onweru commented on #218
I don't think we do.

@drewkhoury social media icons are added as sprites. Please see the commits on this PR to see how https://github.com/chipzoller/hugo-clarity/pull/122

[2021-12-01 15:57] onweru commented on #219
@rootwork, you make a good point. I noticed the change when I reverted but wasn't aware exactly why you did it. Umh, I would suggest that we proceed as follows.

1. If the title attribute is provided, use it as the caption
2. Else, use the alt as the caption

Option 1 is of course the ideal, because it follows the industry spec. However, not everyone is aware. I reckon most people don't even add a

[2021-12-01 17:22] chipzoller commented on #221
Fixed, thanks master @onweru

[2021-12-01 17:22] #221 closed

[2021-12-01 22:32] imranakram opened #222 "How to add a form via GetForm.io"
Hi,
I'm a newbie in the Hugo world, I was wondering what would be the easiest way to add a GetForm.io based contact form on a website using this theme? Would be great if you could add some how-to instructions in the documentation. I've found an implementation in a forked theme [here](https://github.com/razonyang/hugo-theme-bootstrap/blob/master/layouts/_default/contact.html). There's a related con

[2021-12-01 22:50] chipzoller commented on #186
We also need to ignore tips if they occur in the first few sentences.

[2021-12-01 22:51] chipzoller commented on #186
@onweru I think we should fast track this one.

[2021-12-01 23:36] #222 closed

[2021-12-02 00:18] rootwork commented on #219
I think that makes sense, yes!

Do you all want any documentation updates showing this? If so I can do a doc-only PR.

[2021-12-05 16:47] onweru commented on #219
@rootwork, please go ahead. Thank you.

[2021-12-05 16:47] #219 closed

[2021-12-05 16:52] onweru commented on #212
@akirillov, I checked this. Turns out, this is not a bug. The behaviour is well documented in the readme https://github.com/chipzoller/hugo-clarity#custom-css-and-js. `_override.sass` file is only supposed to override css variables. To override actual styles use `_custom.sass`.

[2021-12-05 16:52] #212 closed

[2021-12-05 17:09] onweru commented on #186
Turns out the solutions to this problem is [explicitly defining your summary](https://discourse.gohugo.io/t/exclude-image-shortcode-from-summary/31181/2). This theme already supports that via either `summary` or `abstract` from the frontmatter.

[2021-12-05 17:28] #179 closed

[2021-12-05 17:35] chipzoller commented on #94
Tried this again and can't reproduce. Closing until further notice.

[2021-12-05 17:35] #94 closed

[2021-12-11 07:21] joesan opened #231 "Error When Trying Out the Theme"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

Fails to serve the content when running huho serve

**Desktop (please complete the

[2021-12-11 11:38] joesan commented on #231
Resolved. Was missing some basic installation that went wrong and I did not notice that.

[2021-12-11 11:38] #231 closed

[2021-12-11 11:46] joesan opened #232 "Menu Items Vanish on Click"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

I added a new menu item in the config.toml and this new menu item is also visible

[2021-12-11 12:00] joesan commented on #232
Strange! All what I did was indeed correct. It was my browser cache that was causing this issue.

[2021-12-11 12:00] #232 closed

[2021-12-12 11:52] joesan opened #233 "Error When Serving With GitHub Pages"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

I tried out the template and immediately used it for my blogging website that I ha

[2021-12-12 19:27] joesan commented on #233
Resolved! Ended up using the default GitHub actions from the Hugo documentation. Though it worked fine, I wanted my version to work, but nevertheless it is resolved for me.

[2021-12-12 19:27] #233 closed

[2021-12-12 19:40] onweru commented on #233
@joesan, please consider opening a discussion next time, instead of an issue.

[2021-12-12 20:23] joesan opened #234 "Feature Request: Add Comments using Utterenc"
I'm finding the comments using Utterenc a good option as compared to Disqus. Is there a way to support this out of the box? Any pointers on how to add this? Seems like a simple step to do as per this documentation here:

https://mscipio.github.io/post/utterances-comment-engine/

I can look into this if any suggestions are given?

[2021-12-12 20:29] joesan commented on #181
Is there an update on this?

[2021-12-12 20:30] joesan commented on #49
I think this is another missing bit in this awesome theme. Any plans as to when this could go live?

[2021-12-20 07:30] A-d-r-i opened #239 "Clarity not loading / rendering"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**
I installed hugo with the .deb package (hugo + extended version : https://github.co

[2021-12-20 09:21] onweru commented on #239
Hi @A-d-r-i, sorry about that happening to you. Umh, would you screenshot the console log ?

[2021-12-20 09:43] A-d-r-i commented on #239
Oh you can't imagine that you saved me with this simple question! Thank you very much @onweru!
I found out (thanks to the console which was telling me 404 errors with https://example.com) why it did that: I had modified the `config.toml` at the root of my site and not in `config/_default/config.toml`

It might be necessary to specify in the doc (for novices like me) that it is necessary either:

*

[2021-12-20 10:37] A-d-r-i commented on #239
Last error in the console: 404 with `caret-icon.svg`

I'm on apache2 so I changed the [name of the icons folder](https://github.com/chipzoller/hugo-clarity/issues/74#issuecomment-809756740) and everything works fine except for this one! (I specify that it is in the static and public folder with new name)

[2021-12-20 13:01] onweru commented on #239
I will check if there's something we missed with the caret icon

[2021-12-20 13:07] chipzoller commented on #239
I just went through this with the example site and it renders fine on my end.

[2021-12-20 13:20] A-d-r-i commented on #239
Thanks for your replies!

For me:
[code]

I tried looking for where I was the problem with `grep -w -r -o -n "icons" . `  but nothing really relevant!

[2021-12-24 11:29] Dog-In-a-Tank opened #245 "Currrently there is no vertical spacing between the tags in a post."
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X ] Read the README.md
- [ X] Have the extended version of Hugo installed
- [ X] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**
![Screenshot 2021-12-24 at 11 26 35](https://user-images.githubusercontent.com/9

[2022-01-18 15:37] 1nformation opened #249 "How to use custom fonts?"

[2022-01-18 15:38] 1nformation commented on #150
怎么更改默认字体，大佬。

[2022-01-19 12:12] onweru commented on #249
Please see the READme

[2022-01-19 12:12] #249 closed

[2022-01-19 12:43] 1nformation commented on #249
I only see the custom font switch in the doc, but I don't see how to specify the font.

[2022-01-23 05:29] imtrinity94 commented on #239
I am having the same problem.
PS D:\Hugo\Sites\cloudblogger> D:\Hugo\bin\hugo.exe version
hugo v0.92.0-B3549403 windows/amd64 BuildDate=2022-01-12T08:23:18Z VendorInfo=gohugoio

First, I couldn't run hugo command directly, so I am using D:\Hugo\bin\hugo.exe for everything

Console log:
PS D:\Hugo\Sites\cloudblogger> D:\Hugo\bin\hugo.exe server --disableFastRender
Start building sites …
hugo v0.92.

[2022-01-24 03:42] blentle opened #250 "Uncaught ReferenceError: pageHasLoaded is not defined"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

**Describe the bug**

I got 'Uncaught ReferenceError: pageHasLoaded is not defined'  when I click the menu 'links' after I pull the latest submodule in my site, debug it , I found some variables have been moved to a assets/js/variables.js .

 - OS: [macos ]
 - Browser [e.g. chrome 76, safari 13]

how could I solve t

[2022-01-25 00:35] amca01 opened #251 "How to load a non-default code highlighting theme?"
As hugo-clarity uses the highlight.js engine for code displaying, there are (according to its website) some 243 different styles to choose.  I prefer a light style to dark - but how can I set it in my config file?  In the example site, `style="monokai"` is commented out.  But when I choose a different style, my code fails to render properly: quite a lot of code is invisible.  That is, it's display

[2022-01-30 12:13] Dog-In-a-Tank opened #254 "Using the Caret symbol for superscript does not appear to work"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [ ] Read the README.md
- [ ] Have the extended version of Hugo installed
- [ ] Used the exampleSite's config.toml as a reference

**Describe the bug**

Using the caret symbol  10 ^nd^ to show text that should be in superscript does not appear to work when creating a post. However using < sup > HTML tag works. miss

[2022-01-30 13:12] onweru commented on #254
@Dog-In-a-Tank, please search for a solution in the community https://discourse.gohugo.io/t/superscript-doesnt-work-unsafe-true/30535/14

[2022-01-30 13:13] onweru commented on #254
It's a Hugo markdown renderer thing

[2022-02-01 05:08] #254 closed

[2022-02-01 05:08] #239 closed

[2022-02-09 06:14] rterakedis commented on #234
@joesan - I just submitted a pull request (#257) to add support for it.   Test it out!

[2022-02-09 22:06] chipzoller commented on #234
Closed in #257

[2022-02-09 22:06] #234 closed

[2022-02-10 10:31] ainy0293 opened #258 ""Keywords" keyword configuration of Search Engine SEO function"
"Keywords" keyword configuration of Search Engine SEO function.

I love this theme and recommend using it for post-testing.

At present, I have configured keywords in config.toml and params.toml, and content/_index.md in the config/_default directory, but they are not output to the static page.

The keywords of the article page cannot be output after configuration.

The comment plug-in hopes to su

[2022-02-10 14:23] ainy0293 commented on #49
I would also like to ask, is there any time plan for the 2.0 version of the search function? thinks

[2022-02-11 03:52] ainy0293 commented on #258
Later, I adjusted the code a bit, and adjusted as follows:
[code]
The "keywords" keyword can be displayed, but there is a problem in the article page, the variable value read out is inconsistent with the expected.

An example of an article page is as follows:
[code]
In the above example, the value of <code>mate keywords</code> in the head element of the article page reads <code>[nginx,config,linux

[2022-02-11 12:18] onweru commented on #258
@ainy0293, you can now set the keywords from each page. e.g ```keywords = ["design", "clarity","hugo theme"]```. while you could use a string too, it won't be as clean

[2022-02-11 12:18] #258 closed

[2022-02-11 12:24] onweru commented on #250
@blentle, I couldn't reproduce this. Can you confirm if you're still experiencing it across browsers? If yes, please attach a recording of the same here. Thanks in advance.

[2022-02-11 12:37] #245 closed

[2022-02-11 12:50] chipzoller commented on #245
Closed with fix.

[2022-02-12 14:13] blentle commented on #250
While starting the  server (by command `hugo server`) after I pulled the latest submodule(hugo-clarity) for my blog. It occured like below
![WechatIMG396](https://user-images.githubusercontent.com/7837513/153714556-2fc8f865-6a9d-47f6-8052-5c2992c0bcc2.jpeg)

links options doesn't work like errors by  F12 console.
debugged it , I found 2 variables have been moved from  ${myblog-path}/themes/hugo-cl

[2022-02-12 16:32] onweru commented on #250
Something specific to your instance is off. I really would like to try your repo. Something else is causing the bug. Moving the variables, isn't exactly it, since I have seen it work elsewhere flawlessly.

[2022-02-13 08:10] ainy0293 opened #260 "Problems with repeated resource loading"
Hi, I found the following problem while using

On the article page, each time a code block is referenced, the five resources <code>carly.svg, copy.svg, expand.svg, link.svg, order.svg</code> will be loaded repeatedly.

That is, the <code>```</code> tag used to display code blocks in markdown syntax.
Among them, link.svg is not a code block, it seems to be the title in markdown, that is, h1-h6.

In

[2022-02-13 21:16] jlabonski opened #261 "jane-doe and other baggage"
I noticed that when I build a site, it drags along various default favicons from the theme unless explicitly overridden, as well as a few items from an images folder:

* jane-doe.png (generic avatar)
* thumbnail.png (rancher diagram)

The other two files in `images/` (sun.svg, night-moon.png) are for the toggle.

In addition, unless explicitly overriden, I'll get the clarify favicons of the weird

[2022-02-13 22:49] winxthecat opened #262 "Tanslation Hint at bottom of page - where/how to remove?"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X ] Read the README.md
- [X ] Have the extended version of Hugo installed
- [X ] Used the exampleSite's config.toml as a reference

**Describe the bug**

On a page that is translated, the hint to the available translation is too much. Can this be removed? Or at least, where do I get rid if the | ? As I do only us

[2022-02-16 00:20] rootwork opened #263 "Feature request: Allow setting meta keywords from `params.toml`"
Thanks for adding meta keywords support in https://github.com/chipzoller/hugo-clarity/commit/6e9e7f8a2a59d01304dd1aae65b67bfb1fc981a8 to address #258

From what I can see, with that addition those keywords can only be set for the homepage in the content file (`content/_index.md`) but not in the `params.toml` file. Since the site description can be set in `params.toml` (as well as the content file)

[2022-02-16 03:44] blentle commented on #250
Resolved !  I moved the hugo-clarity/layouts to myblog/layouts, which caused bug. because I modified the comments.html by using remark42.  finally I removed the layouts directory of my root blog, It worked.  Thank you for your time.

[2022-02-16 03:45] #250 closed

[2022-02-16 22:12] imranakram commented on #231
I'm having the same problem, could you mention what went wrong in the installation?

[2022-02-19 08:42] rianbk opened #265 "Figure Caption Double Up"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [Yes ] Read the README.md
- [Yes] Have the extended version of Hugo installed
- [Yes ] Used the exampleSite's config.toml as a reference
- [No(private)] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

Hi, I'm seem to be getting double figure captions after upgradin

[2022-02-21 22:07] rootwork commented on #265
I'm noticing this too. I wonder if I missed something in #206. I'm going to take a look.

[2022-02-21 22:08] rootwork commented on #265
Oh, I think it was probably actually in the #219 follow-up.

[2022-02-22 00:15] onweru commented on #265
Thanks @rianbk for reporting this issue. It has now been fixed.

@rootwork, you were almost caught it 😁. It was caused by the addition of [these lines](https://github.com/chipzoller/hugo-clarity/blob/17e6574dd5c9a87ab1033538a4b426ce9e93f18a/layouts/partials/image-feature.html#L67-L69). And the double captioning occurred only if you specified the image title in the markdown.

Was quicker and solve

[2022-02-22 00:17] chipzoller commented on #265
Awesome @onweru

[2022-02-22 00:17] #265 closed

[2022-02-22 00:20] rootwork commented on #265
Thanks for finding it @onweru :)

[2022-02-22 04:24] rianbk commented on #265
Hey all, thanks, can confirm this has resolved my issue.

[2022-02-27 11:10] 111qqz opened #266 "cannot load web image, "image not found" error"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [y] Read the README.md
- [y] Have the extended version of Hugo installed
- [y] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

Unable to load web image, it will prompt image not found.

Here is my [blog](https

[2022-02-28 06:16] onweru commented on #266
@rootwork, could you check if there's something here? Thanks in advance.

[2022-02-28 09:00] rootwork commented on #266
I actually just noticed this over the weekend too. I'll see what I can figure out as a fix.

[2022-02-28 23:54] rootwork commented on #266
PR submitted. This *may* require a follow-up to address [images loaded through Hugo modules](https://github.com/rootwork/hugo-module-site) (which I found out were also broken) but I need to test that more -- and in any case this PR fixes the bug described in this issue.

[2022-03-01 10:55] 111qqz commented on #266
Thanks for the prompt fix . I really like this theme

[2022-03-01 20:32] onweru opened #268 "Archives and how do they get added?"
### Discussed in https://github.com/chipzoller/hugo-clarity/discussions/188

<div type='discussions-op-text'>

<sup>Originally posted by **gary094** June 16, 2021</sup>
Hello, thanks for your work on this beautiful theme!

I'm new to hugo but at this point I understand the basic structure.
However I cannot figure out how posts get added to the Archive.

By default post "Rich Content" is visible in

[2022-03-06 12:11] rahulwagh commented on #266
I have been using theme for quite some time but when i rebased with all the latest changes, it broke my image loading and i think the above fix by @rootwork  is still not working as intended.

I am loading the images from - `http://localhost:1313/wp-content/uploads/aws/prometheus-grafana/Prometheus-Grafana.webp` and you can see the image is available there

![image](https://user-images.githubuserc

[2022-03-07 03:53] rootwork commented on #266
@rahulwagh Initial impression is that the double-slash after `static` in the disk path is probably an issue. Do you have your static dir defined somewhere, and if so do you have a trailing slash on it? Try removing it and see if that helps.

But the hard-coded static (and for that matter content) dirs in the respective code is probably the source of this issue, and would be the source of others. I

[2022-03-07 11:28] rahulwagh commented on #266
@rootwork  thanks for reply, looking forward for your fix. Hope it should be quick fix

[2022-03-08 12:46] chipzoller commented on #266
This was accounted for in PR #269 . Please confirm issue is solved so this issue can be closed.

[2022-03-08 17:24] rufflabs opened #270 "New archetype not showing in homepage"
I am very new to Hugo, so apologies for my ignorance. I have created a new archetype and while if I access it directly I see the list of posts, those posts are not showing up on the homepage.

Is there something special I need to configure to allow a new archetype to show up on the homepage?

[2022-03-08 18:15] rufflabs commented on #270
I figured it out! After digging around in the template files I found that it was only looking for pages from the param.toml mainSections. So, I added my custom archetype into that and it's working now.

[2022-03-08 18:15] #270 closed

[2022-03-09 10:24] rahulwagh commented on #266
I will rebase my branch and will confirm later during the day

[2022-03-09 20:13] rahulwagh commented on #266
I think the issue is still there @rootwork  @chipzoller
Today i rebased my branch and tested the new fix but it is the same problem.

Here is one screenshot for reference.

<img width="1066" alt="image" src="https://user-images.githubusercontent.com/6808425/157526220-b01c4ada-dd0f-4b43-9973-a223e0cef93c.png">

[2022-03-09 20:39] rootwork commented on #266
@rahulwagh Can you tell us where in your directory structure your config.toml/yaml/json file is located?

[2022-03-10 08:56] rahulwagh commented on #266
Here is my project structure, let me know if i am missing something or if you need any more details for debugging.
![image](https://user-images.githubusercontent.com/6808425/157626415-be0310fd-0217-4877-881b-96a95fda6f4e.png)

[2022-03-10 20:34] rootwork commented on #266
Hmm, yeah it should catch that.

Can you tell me what you have defined for `staticDir`? I assume it's `wp-content/uploads/aws...` but maybe I'm assuming wrong. And is it defined in that `config.toml` file or somewhere else?

[2022-03-10 20:36] rootwork commented on #266
And actually looking at that file structure I'm confused -- your error message says you're calling a file (`Prometheus-Grafana.webp`) in the `wp-content` subdirectory, but that doesn't appear to be a subdirectory of your project. Is it loaded through Hugo Modules perhaps? Or -- that's a WordPress directory, is it being smooshed together (technical term) with Hugo somehow?

[2022-03-11 06:26] rahulwagh commented on #266
1. Previously i had wordpress site, later i moved from `wordpress->hugo` and kept the directory structure pretty much same to ease out the migration.
2. Here is the complete project structure of my project - I am pretty much loading every image from `/content/wp-content/uploads/......`
3. the `/static/images` directory is pretty much empty apart from some default images
4. Let me know if it helps

[2022-03-11 19:52] rootwork commented on #266
On point 1, that should be fine, just wanted to clarify. Here are some other things that would help me narrow this down:

1. Look in your `config.toml` file, and if [`staticDir`](https://gohugo.io/content-management/static-files/) is defined anywhere, please share the path it's set to.
2. The screenshot you have of the image that's not loading (`Prometheus-Grafana.webp`) -- it looks like that's se

[2022-03-12 21:50] rahulwagh commented on #266
1. I haven't defined `staticDir` inside my `config.toml`
2. Yes the image is set as featured image. Here is example of front matter. Both feature as well as thumbnail are not loading
[code]

3. I tried the `![alt](path/to/image "caption")` but it did not work
4. Here is `config.toml` probably you could find the missing config entry ?
[code]

[2022-03-14 23:31] rootwork commented on #266
OK, so here's what's going on -- if you just want the solution, skip to the bottom. But explanation first.

By [default](https://gohugo.io/content-management/static-files/), Hugo establishes its static directory as the path `static/`, a subdirectory of your Hugo project. If you tell it in a Markdown page/post to load the file `apple.png`, Hugo goes to look for it in `static/apple.png`. (Unless you

[2022-03-16 07:16] rahulwagh commented on #266
Thanks @rootwork I really appreciate your detailed answer.

Finally it worked and i am able to load the images. So what i did is moved my `wp-content` directory inside the `static` directory and it started to load all the images.
![image](https://user-images.githubusercontent.com/6808425/158536122-8a4136b9-a405-4739-8b1a-795cd9c24272.png)

Although making and entry(`staticDir = content/wp-content/

[2022-03-16 23:55] LITUATUI commented on #126
The prev/next post capability would be great to have.

[2022-03-17 19:27] thedaxshepherd commented on #266
First I hope this is the proper place to post this. I did not feel like opening a new issue was the right thing to do.
When I followed the instructions to test the theme using Option 2 once I ran "hugo server --themesDir ../.." I got the error message:
![image](https://user-images.githubusercontent.com/60486315/158879458-982766af-b6b1-4420-8045-cb74c6e037f1.png)
After trying to track down the prob

[2022-03-17 19:34] rootwork commented on #266
Hmm, OK, that looks like it's a Windows path thing; for some reason it's not recognizing the external-ness of the URL to the image and trying to concatenate it with the static path (see in the error message `...\static\https:\...` (and yes, it's rewriting that URL protocol to only have one slash too!)

I don't have a Windows machine to easily test on but I'll see if I can figure out what's causing

[2022-03-22 18:23] onweru commented on #49
@LITUATUI, as soon as next monday.

[2022-03-22 20:18] rootwork commented on #266
Hey @onweru @chipzoller I'm thinking maybe I should just do a PR to remove the image error message. That is the source of all of this headache -- checking whether the file exists "on disk" in order to render the error message. I haven't been able to figure out the above Windows thing, and I also think there's a continuing issue if you load the theme using Hugo modules. I also still feel unsure abo

[2022-03-23 01:25] onweru commented on #266
@rootwork, I'm concur

[2022-03-23 11:42] chipzoller commented on #266
That'd be fine, although it was a nice addition.

[2022-03-24 15:49] #260 closed, assigned to onweru

[2022-03-24 20:55] onweru commented on #49
@chipzoller, I think the first implementation of search on this theme is in. Please review it when you can.

[2022-03-24 21:03] chipzoller commented on #49
Will do ASAP

[2022-03-24 21:24] onweru commented on #262
@winxthecat,

If you really would rather not have them, you can remove them here https://github.com/chipzoller/hugo-clarity/blob/14cc9cc7d1ac4d439b7fc9e807de36cf860e7cf9/layouts/_default/single.html#L51

[2022-03-24 21:24] #262 closed

[2022-03-25 07:24] github-lym opened #277 "Did I meet bugs,or I lost something??"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [ ] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [ ]  I have included my repository link. Instead of pasting long snippets here.

I installed the theme by  **Option 1 & 2** in [Getting up and running](https://github.com/chipzoller/hu

[2022-03-25 12:36] chipzoller commented on #277
I think a more thorough explanation is needed here.

[2022-03-25 12:37] chipzoller commented on #261
@onweru I've noticed this as well on other sites (especially the Rancher diagram). Do we just remove those PNG files?

[2022-03-25 15:04] github-lym commented on #277
You are so kind.
I updated the description,is it better?
If not clear enough,please tell me,
Thanks!

[2022-03-26 13:40] github-lym commented on #277
Simplely,two problem.

1.
I want use Page Bundles, set usePageBundles = true.
In the `content\post\` ,add a folder named `2022`, in `2022` add `index.md` & `2.png`.
I writed `![](2.png)` in `index.md` ,but It did not show.

2.
In code block,it always shows full code,can not fold(collapse).

I installed the theme by  **Option 1 & 2** in [Getting up and running](https://github.com/chipzoller/hugo-cl

[2022-03-26 17:58] onweru opened #279 "[Feature Request] Link to Edit Page on GitHub"
### Discussed in https://github.com/chipzoller/hugo-clarity/discussions/244

<div type='discussions-op-text'>

<sup>Originally posted by **joesan** December 21, 2021</sup>
While I was using Zola, I had made a few changes to the theme that I used so that I can have a link at the bottom of each page that shows a link to the original content in GitHub which upon click takes the user to the GitHub pro

[2022-03-27 05:02] rootwork commented on #277
For item 1 in the most recent comment - I think #271 will fix this.

For item 2 in the most recent comment - going back to the screenshot at the top, it looks like 88 lines are being displayed AND the expansion icon ("...") is showing. I don't know enough about that code to know why; maybe JS isn't loading?

[2022-03-27 08:10] github-lym commented on #277
Yes!! You are right!!
I add the code in  `layouts/_default/_markup/render-image.html`, the image been shown!!
So it is a bug.

Because I am not a coder,so I do not know why either.
The live demo can toggle to show full code block or not.
I do not know what should do.
![Toggle block expansion/contraction (dynamic)](https://github.com/chipzoller/hugo-clarity/raw/master/images/syntax-block.gif)

[2022-03-27 21:42] chipzoller opened #280 "[Bug] Code block max lines regression"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

In a recent commit, the code block max lines isn't being obeyed.
From [here](https

[2022-03-27 21:43] chipzoller commented on #277
Filed an issue for the code max lines at #280

[2022-03-27 21:47] chipzoller commented on #49
Since an initial implementation of search by @onweru is now available, I'm closing this issue. We will work towards polishing the search feature, and for any bugs or requests around search please open a new issue.

[2022-03-27 21:47] #49 closed

[2022-03-27 21:49] chipzoller commented on #160
@onweru and @rootwork what should we do about this issue? Is there an outstanding action item here or has it been implemented?

[2022-03-27 21:59] chipzoller commented on #261
Closed in https://github.com/chipzoller/hugo-clarity/commit/352b26464ba64faaf6ea8879445b17545826e925

[2022-03-27 21:59] #261 closed

[2022-03-27 22:04] chipzoller commented on #181
@rootwork is this something you'd be interested in taking up?

[2022-03-29 22:21] rootwork commented on #263
I *can* work on this, but was sort of hoping @onweru would since he added the params in the first place :)

[2022-03-29 23:12] rootwork commented on #177
I have noticed this too in testing. I wasn't sure if it was a bug, since the average user isn't changing their browser window. Although it reminds me that I wondered why the position of that button was being set with JS at all. Why isn't it just set with CSS `position:absolute; bottom:1rem; right: 1rem` (or whatever)?

[2022-03-29 23:15] rootwork commented on #181
Sure! I'll have to think about what kind of optional settings and stylings we'd want to provide, but technologically triggering the presence of a partial with some setting in config will be straightforward.

@asitav-sen @joesan If you have suggestions on what you'd like this to look like, feel free to share. (Obviously the wording in the pop-up/over/dialog would be configurable.)

[2022-03-29 23:16] rootwork commented on #160
It hasn't been implemented. It's still something I'd like to see, if you're open to me putting up a PR for it.

[2022-03-29 23:23] rootwork commented on #126
### Prev/Next:

@amca01 It would be great if you could share your files, either with a link or write up a PR if you're inclined.

### Archives by date (year, month, etc.):

This has been a [feature request for Hugo itself for awhile](https://github.com/gohugoio/hugo/issues/448). Assuming nothing happens on that front, the current workflow for doing this seems to be by [using taxonomies](https://ww

[2022-03-29 23:37] rootwork commented on #97
I think we could support this and add some of the [customizing the playback options](https://asciinema.org/docs/embedding) to that shortcode as well. In terms of the mobile sizing issue:

So I think that's reasonably addressed, although I have to say it wasn't really mentioned in their documentation anywhere.

[2022-03-29 23:44] onweru commented on #263
@rootwork, please help. My schedule is crazy 😃

[2022-03-30 17:05] asitav-sen commented on #181
@rootwork Thanks. I shifted to 'Plausible' and hence won't need anything specific.
However, had I been using some cookies, I would have loved to have the following features.
1. Pop up in the middle of the page would be good. (But some people may want it at the end of the page, as a bar.)
2. If the user does not agree then, either of the two below
    a. Page will close or user will not be able to

[2022-03-30 19:44] rootwork commented on #181
That makes sense. I think some laws -- is it the French law? -- requires that one be able to disable cookies not required for a site to function but still be able to use the page. So if we allowed for 2a it'd probably have to be possible to bypass it.

And for 2b I'm not sure what a Hugo theme should proactively do in terms of cookies set by third-party scripts. Provide a list of elements to remov

[2022-03-31 08:39] asitav-sen commented on #181
Yes. In general if the user does not agree, the website should be served without cookies (only the essential ones). By 2 b. I indicated serving website without non-essential cookies. Hence the correct term should not be 3rd party cookies. It should be non-essential cookies. I realized that it could be complicated. That with why I mentioned 2b.
Some website owners may not want the website to be ser

[2022-04-03 20:06] gary094 opened #282 "unexpected unclosed action in parenthesized pipeline"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X] Read the README.md
- [x] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

Just tried to update the submodule and rebuilt my static site however I receive th

[2022-04-06 23:23] rootwork commented on #282
@gary094 Those Hugo versions are pretty old, can you try with something more recent? https://github.com/gohugoio/hugo/releases

We have been working on that file recently so it's possible there is a bug, just want to rule out Hugo version issues.

[2022-04-08 21:29] rootwork commented on #263
PR ready to review!

[2022-04-10 14:56] gary094 commented on #282
I finally came around to my arch linux box and yes indeed with hugo version v0.96.0+extended the site can be build just fine.

Since version v0.80.0 is present in the most recent debian 11 maybe it would be good to take a look into this issue?

[2022-04-14 13:06] chipzoller commented on #160
So sorry for the delay, @rootwork ! @onweru what do you think? I'm fine with this.

[2022-04-14 15:28] onweru commented on #160
@chipzoller, the declarations can be moved, it will still work.

[2022-04-17 08:20] rianbk opened #286 "Search Page 404"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [ Y] Read the README.md
- [ Y] Have the extended version of Hugo installed
- [Y] Used the exampleSite's config.toml as a reference
- [N] I have included my repository link. Instead of pasting long snippets here.

I know that search is a beta feature, but upon updating and enabling the feature. Search works find an

[2022-04-17 10:02] onweru commented on #286
@rianbk, do you have a `search.md` file under your content folder?

[2022-04-17 10:04] onweru commented on #286
[code]

[2022-04-17 10:47] rianbk commented on #286
thanks, thats fixed my issue

[2022-04-17 10:47] #286 closed

[2022-04-22 12:22] joesan opened #287 "LaTeX Math Formulas are not rendered correctly"
Issue:
For some of my blog posts, I'm using LaTeX definitions and I just started to notice that they are not rendered correctly.

![image](https://user-images.githubusercontent.com/3284487/164713433-1af9fd7c-ebca-483e-aacb-d6f6f57f57c0.png)

 - OS: [Ubuntu 20.04]
 - Browser [Brave]

[2022-04-24 23:07] #266 closed

[2022-04-25 01:58] zxkane opened #288 "fail building the site due to the error in rendering image"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

After updating theme to latest main branch with #278, building the site with below

[2022-04-25 03:57] rootwork commented on #288
Ugh, I don't know how these things happen when I test every PR, run the automated tests, and everything passes...

Unfortunately I'm going to be pretty unavailable this coming week. If anyone else has the capacity to look into this please do. Based on the error message some asset is probably getting run through Hugo Pipes when it shouldn't be; if I had to guess probably something from static, when

[2022-04-25 11:59] chipzoller commented on #288
Is the theme wholesale "broken" because of that PR or is this a corner case issue?

[2022-04-25 13:49] zxkane commented on #288
Not sure whether it's a corner case only. Tried building with `--log -vvv
--debug` options, no useful information was given. I guess running into the
issue when rendering the index page.

Kane

On Mon, Apr 25, 2022 at 7:59 PM Chip Zoller ***@***.***>
wrote:

[2022-04-25 15:44] georgew509 commented on #288
Hope this helps. I am a retired software engineer, but very new to Hugo. I have a website running Hugo with a different theme, but I have been spending time trying to convert my website to the Clarity theme.

Anyway, when I try to run the latest git version of clarity with my test site via "hugo server" I am seeing the same error:

$ hugo server
Start building sites …
hugo v0.97.3+extended darwin/

[2022-04-25 20:25] georgew509 commented on #288
Ok, from a content point of view, I found the offending line that was causing the issue:

george@imac1:~/Hugo/aporg/content/posts
$ diff ~/backup/aporg/content/posts/markdown-syntax.md .
53d52
< ![Jane Doe](https://raw.githubusercontent.com/chipzoller/hugo-clarity/master/static/images/jane-doe.png "This is Jane Doe")

That URL does not exist. This is from the original exampleSite that I have been

[2022-04-25 20:27] georgew509 commented on #288
Sorry, forgot to use the "add code" block.

[2022-04-25 20:28] georgew509 commented on #288
`george@imac1:~/Hugo/aporg/content/posts
$ diff ~/backup/aporg/content/posts/markdown-syntax.md .
53d52
< ![Jane Doe](https://raw.githubusercontent.com/chipzoller/hugo-clarity/master/static/images/jane-doe.png "This is Jane Doe")`

[2022-04-25 20:32] georgew509 commented on #288
Sorry for the extra posts, the other failure was:

`george@imac1:~/Hugo/aporg/content/about
$ diff ~/backup/aporg/content/about/index.md .
27d26
< [![ko-fi](https://ko-fi.com/img/githubbutton_sm.svg)](https://ko-fi.com/D1D67VIRR)`

[2022-04-25 23:31] rootwork commented on #288
OK, just reading through things -- again sorry I don't have bandwidth this week to dig into a fix. But seems like two issues:

- An older version of `markdown-syntax.md` (and I would guess the `.pt` version as well) had a broken image link. Since we removed the error message and told Hugo to just fail a build on a broken image (which is its default behavior), it did as we asked and failed on the o

[2022-04-26 05:09] robe2 opened #290 "Search shows no results if more than one entry in mainSections"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [ x] Read the README.md
- [ x] Have the extended version of Hugo installed
- [ x ] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

Search does not find anything if more than one directory specified in mainSect

[2022-04-26 20:39] jbowdre opened #291 "featureImage/thumbnails referenced as pageBundle resources don't load"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**
`featureImage` and `thumbnail` images don't load when they pointed to images stored

[2022-04-27 19:51] georgew509 commented on #291
I believe that I am seeing the same issue with page bundles and featured image:

`
---
 o o o
usePageBundles: true
featureImage: 'images/cloud_server.png'
featureImageAlt: 'NEW Years image'
featureImageCap: 'IMAGE by Jorge Guillen from Pixabay'
---
`

The feature image does not load--I just see the "?" in a blue square box.

However, when I use a markdown image reference in the body, it works fine

[2022-04-28 20:37] rootwork commented on #291
I have a PR incoming for this.

[2022-04-28 21:00] #291 closed

[2022-04-28 22:42] georgew509 commented on #291
Thanks! My feature image is working!

However, I still do not see the feature image caption. This is what my front matter looks like:

usePageBundles: true
featureImage: 'images/cloud_server.png'
featureImageAlt: "Cloud server image"
featureImageCap: "Image by Jorge Guillen from Pixabay”

Actually, I tried looking at the code, and I cannot find where featureImageAlt and featureImageCap are impleme

[2022-04-29 20:38] rootwork commented on #291
@georgew509 Hmm, I didn't test the caption feature but it's possible something got awry. I'll take a look.

[2022-04-29 20:49] georgew509 commented on #291
Thanks. Again, I am new to Hugo, but I did a grep of the code and I did not see any reference to featureImageAlt or featureImageCap except in the README, exampleSite, archetypes file/directories:

***@***.***:~/Hugo/apcom/themes/hugo-clarity
$ find . -type f -exec egrep -H featureImage {} \; | egrep -v README | egrep -v exampleSite
./archetypes/post.md:featureImage: "/images/path/file.jpg" # Sets

[2022-04-30 00:26] mc-gulu opened #294 "Where to find a builtin year-indexed archive page containing all posts in one page?"
I'm not quite familiar with the syntax to add such a page (a yearly-separated archive page).

Is there any example page for me to work on?

[2022-05-03 15:37] jbowdre commented on #291
Thanks for the swift fix for this!

Unfortunately I'm still seeing a similar problem if I override the default post permalink as shown in [this commit](https://github.com/jbowdre/hugo-clarity/commit/1a4f99a8a120129dd077069b32627ecc5438d655).

With this in the site's `config.toml`:
[code]
so that the page bundles sample post URL is `/using-hugo-page-bundles/` instead of `/post/bundle/`, both the th

[2022-05-04 16:47] onweru commented on #294
@mc-gulu, we don't have that template yet.

[2022-05-05 00:39] mc-gulu commented on #294
alright, never mind.

[2022-05-05 00:39] #294 closed

[2022-05-06 20:31] rootwork commented on #291
This is probably somewhere that I've overlooked, using a direct link instead of using `.RelPermalink`. I'll take a look.

We really should try to figure out some way to test all these possible permutations so fixing one thing doesn't break another...

[2022-05-06 21:53] georgew509 commented on #291
I would be happy to test from the point of view of an end user. However, my availability will be very limited until after the 23rd (have an upcoming trip planned).

As I have referenced before, I can test feature images in a page bundle. The feature image is now working, but the feature image caption is not.

Also, code blocks are not working correctly. For example, if I have a block of code that

[2022-05-06 21:58] rootwork commented on #291
@georgew509 Thanks for offering to test! I was more thinking out loud that we should have some kind of automated tests so that when changes get made internally, we know it doesn't break things that already work.

In terms of your other issue, let's try to keep this issue focused on the images; please open a new issue (or update an existing one if it's relevant) for problems with the code blocks.

[2022-05-06 22:02] chipzoller commented on #291
Regression with code blocks is captured [here](https://github.com/chipzoller/hugo-clarity/issues/280). Add your "plus one" if you like. And thank you, @rootwork!

[2022-05-06 22:07] georgew509 commented on #280
I just wanted to make sure that this related code block issue is covered.

If I have a block of code that is 150 lines long. The entire 150 lines are displayed instead of just the “codeMaxLines.” And I also see the three dots at the end of the 150-line code block.

[2022-05-06 22:36] georgew509 commented on #291
Thanks. I did add a comment to cover the max code lines not working.

FYI. I have published my current Clarity “test” site at: https://altoplace.org

The code block example is at: https://altoplace.org/posts/2021/configure-apache-and-php-fpm-on-macos/#using-port-80

These are my code block settings in my config:

***@***.***:~/Hugo/HCaporg/config/_default
$ egrep "codeMaxLines|codeLineNumbers" par

[2022-05-06 23:00] chipzoller commented on #280
@onweru we're still having issues here. Can you take a look?

[2022-05-06 23:19] rootwork commented on #291
@georgew509 Please do open a new issue for the TOC item -- I think it would be considered a feature request, as what you're describing is the default way anchor links+scrolling work in browsers. But it is something we could address.

[2022-05-07 13:37] georgew509 commented on #291
Ok, I can open an issue about the TOC item. BTW, this post I found seems to exactly describe the problem I am seeing and suggests a solution:

https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html

George
—
***@***.***
https://altoplace.com
  My personal place in the Internet cloud.

[2022-05-07 22:19] georgew509 opened #295 "A TOC anchor link/header is hidden behind the navigation bar."
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X] Read the README.md
- [X] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference
- [X] I have included my repository link. Instead of pasting long snippets here.
         https://github.com/georgew509/clarity-aporg

I am seeing a minor issue with the table of content

[2022-05-07 22:25] georgew509 commented on #280
If this helps ...

I have an example at:
  https://altoplace.org/posts/2021/configure-apache-and-php-fpm-on-macos/#using-port-80

And I added my site code to GitHub:
  https://github.com/georgew509/clarity-aporg

[2022-05-07 22:35] chipzoller commented on #295
This is how anchoring works in all of Markdown and the HTML rendered from it. Nevertheless, we will take this as a possible enhancement request.

[2022-05-07 22:37] georgew509 opened #296 "The feature image caption is not displayed"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X] Read the README.md
- [X] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference
- [X] I have included my repository link. Instead of pasting long snippets here.
         https://github.com/georgew509/clarity-aporg

I know that there has been some email about this, b

[2022-05-10 20:29] rootwork commented on #295
The way I'm handling this on my own site is by using [`scroll-margin-top`](https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top), which is surprisingly well-supported for being a relatively unknown CSS property. Basically you apply it to the headings themselves, using the height of the header. I'll write up a PR for this unless someone gets to it before me...

[2022-05-10 20:32] rootwork commented on #277
For clarity I am going to go ahead and close this issue, since from the original report the first item is now captured in #280 and the second was fixed.

[2022-05-10 20:32] #277 closed

[2022-05-10 22:29] rootwork commented on #291
@jbowdre Attempted to fix the permalink issue in #297 -- feel free to test (instructions at the bottom of that PR).

[2022-05-10 22:29] rootwork commented on #296
@georgew509 This should be fixed in #297 -- feel free to test (instructions at the bottom of that PR).

[2022-05-10 22:30] rootwork commented on #288
In #297 we can now handle SVG images without causing a failed build, so that addresses the second issue. I still don't know how (or if) to notify users of updated `exampleSite` files.

[2022-05-10 22:34] rootwork commented on #290
@onweru Can you take a look when you get a chance?

[2022-05-10 22:37] rootwork commented on #287
Is it possible the leading `$` is tripping up the rendering? Does the line render correctly at https://katex.org (which is what Hugo Clarity uses)?

[2022-05-11 01:28] georgew509 commented on #296
Hello @rootwork,

I am getting ready to head out of town for a couple of weeks, but I did get a chance to run a couple of tests.

1. The SVG image does not crash and it’s working now.  However, I noticed that for:

[![ko-fi](https://ko-fi.com/img/githubbutton_sm.svg)](https://ko-fi.com/D1D67VIRR)

“ko-fi” the ALT text is displayed under the image.

2.  The feature image caption is working now, how

[2022-05-11 18:52] rootwork commented on #296
@georgew509 Thanks for testing. In response to your items:

1. This is standard for the theme -- alt text is used as an image caption unless a title is provided. If don't want a caption, you can provide empty title text. [See documentation on this](https://github.com/chipzoller/hugo-clarity#image-figure-captions), although now that I'm reading it I think it could be better explained. It's also des

[2022-05-11 20:49] rootwork commented on #296
Updated the documentation in #297 to address the less-than-clear descriptions of caption creation and usage.

[2022-05-13 17:45] onweru commented on #160
@rootwork, I'm now working on this.

[2022-05-13 21:21] #280 closed

[2022-05-13 23:35] chipzoller commented on #280
@georgew509 this should be fixed (thanks to @onweru 🙏)

[2022-05-13 23:57] georgew509 commented on #280
Thanks! I’ll try it out when I get home from vacation.

George

Sent from my iPhone

[2022-05-14 15:43] timatlee commented on #290
I don't know if this can be considered a related question, but I would be interested to understand how to get the passive search function to search multiple sections (ie, "post" and "recipe") without having to set "recipe" as a mainSection.

I think once I understand how multiple mainSections are searched, I could probably set a config for `searchSections` and submit a PR...

[2022-05-14 17:43] onweru commented on #290
@timatlee, at the moment, the search function should search the [entire site](https://github.com/chipzoller/hugo-clarity/blob/ede406b64d25d3ba36b0e33411a7a53a95129c67/layouts/_default/index.json#L4). This [may not be ideal](https://github.com/onweru/compose/issues/15). First I'll explore the anomaly described by @robe2.

As an improvement, I might introduce the concept of search scope. For granula

[2022-05-14 18:32] timatlee commented on #290
@onweru I do see the content for the whole site being generated in `index.json`, but the passive search seems to be limited to content within the "posts" content type.  At least, the experience that I'm seeing at the moment does not surface the content in the "recipe" type:
![image](https://user-images.githubusercontent.com/1431914/168443674-5b49dffa-5373-49b1-8a9e-f737c5e6366c.png)

I should have

[2022-05-14 20:16] onweru commented on #290
@timatlee, thanks for this feedback. I will ready a fix asap.

[2022-05-14 21:19] onweru commented on #290
@timatlee, watch out for when #301 is merged. It will fix your issue.

[2022-05-15 01:30] #295 closed

[2022-05-15 11:09] zxkane commented on #288
After checking out the latest the main branch, I can see the link when rendering the dead thumbnail link. After resolving those dead thumbnail link, still got below error message without any clues.

[code]

It would be great helpful if the source file name can be logged when specifying the `--debug` option.

[2022-05-16 21:54] rootwork commented on #296
Since the original issue appears to be solved now, I'm going to close this issue. Feel free to create new issues if you want to talk about either of the other things you mentioned.

[2022-05-16 21:54] #296 closed

[2022-05-16 23:42] rootwork commented on #288
I agree. There are lots of requests for this in Hugo (gohugoio/hugo/issues/6926, gohugoio/hugo/issues/7480, gohugoio/hugo/issues/6964 are some examples). Unfortunately it's not something Hugo provides, at least in this context, and it's out of scope for something a theme can do.

However, what's happening is that for whatever reason, the resource that's trying to be loaded as an image isn't being

[2022-05-17 00:11] rootwork commented on #288
@zxkane If you feel up to testing a branch, take a look at #305 and see if it resolves the issue.

[2022-05-17 07:39] zyede opened #306 "localhost:1313 The site layout is a mess"
I followed the instructions to create a demo website on windows
![image](https://user-images.githubusercontent.com/17783147/168755784-bbb1c7ee-6cbe-4871-8380-0a10c448e065.png)
But the website layout is a mess:
![image](https://user-images.githubusercontent.com/17783147/168755973-b40b7468-eab2-454b-977e-10b5eb4c74a1.png)

**hugo version**:hugo v0.99.0-1de333e7a3fc863672ec6d6cd53ba66dbcdd2305 window

[2022-05-17 07:48] zyede commented on #306
sorry，maybe I didn't read **[Prerequisites](https://themes.gohugo.io/themes/hugo-clarity/#prerequisites)** carefully.

[2022-05-17 09:08] #306 closed

[2022-05-17 10:43] zxkane commented on #288
No, the error message still is same. I already turned out the root cause via binary searching of posts. It's caused by the dead image links in the post(md file).

[2022-05-17 12:27] zxkane commented on #288
My hugo was `0.98+extended`, the behavior is same after upgrading to `v0.99.0+extended`.

[2022-05-17 19:14] rootwork commented on #288
Right, as [noted above](https://github.com/chipzoller/hugo-clarity/issues/288#issuecomment-1109138697), we changed the code in one of the example posts. There's no way for us to force-push those into anyone's site; they just need to be copied again to get the latest versions. In the past I think this hasn't been high priority to emphasize since we imagine most people will remove the example posts

[2022-05-17 20:54] rootwork commented on #288
Edited #305 slightly; now it affirmatively will not fail a build on broken image requests (you'll just get a broken image).

[2022-05-17 21:04] rootwork commented on #160
I think we can close this now, unless @onweru you had plans to do something more in the future.

[2022-05-17 21:27] rootwork commented on #282
I confirmed that 0.80.0 doesn't compile the site. I can fix "unexpected unclosed action in parenthesized pipeline" by making the code less readable, changing this:

[code]

to this:

[code]

in two files (`render-image.html` and `image.html`). But then 0.80.0 also fails on `{{- $image = resources.GetRemote $file -}}`, which we use in both places to allow people to pull in remote images and use the

[2022-05-17 21:29] rootwork commented on #288
Oh hey look! Hugo just yesterday released a bunch of improved error messages in [0.99.0](https://github.com/gohugoio/hugo/releases/tag/v0.99.0)!

[2022-05-18 18:40] gary094 commented on #282
Thanks for looking into this!

For me it is perfectly fine to leave it as it is, since I have the possibility to just compile my website on arch and copy /public over to my webserver.

[2022-05-18 20:26] onweru commented on #282
@rootwork, maybe we should update the min version to 0.91 https://github.com/chipzoller/hugo-clarity/blob/616b44986438752406ac579e620e35b1bab1cd50/theme.toml#L9.

[2022-05-18 20:44] onweru opened #308 "Allow global search from specific sections"
Building on #301, it would be great to have a  GitHub-like feature i.e `search all site`. This feature would allow users to perform global searches from within sections.

<img width="634" alt="Screen Shot 2022-05-15 at 00 10 53" src="https://user-images.githubusercontent.com/16350351/169152252-8dc93706-75c1-4081-84d7-989c8f6d59cd.png">

[2022-05-18 21:08] onweru commented on #160
Absolutely 🤝, I will leave it as-is for now.

[2022-05-18 21:09] #160 closed

[2022-05-18 21:16] rootwork commented on #282
D'oh. I'll add that to #307.

[2022-05-18 21:18] #282 closed

[2022-05-18 21:18] onweru commented on #282
Just saw that earlier. Thank you 😄

[2022-05-19 02:57] tech4normies commented on #181
Is this still being developed?

[2022-05-19 19:42] timatlee commented on #290
@onweru Thanks! Great fix, and seems like it strikes a good balance of site-wide versus section-wide searching. Great work!

[2022-05-19 21:00] onweru commented on #290
Thanks, @timatlee. I will close this issue now. Keep an eye on #308 for further improvements on section-scoped search.

[2022-05-19 21:00] #290 closed

[2022-05-20 00:51] rootwork opened #310 "Improve accessibility issues"
Happy [Global Accessibility Awareness Day](https://accessibility.day/)!

I've been wanting to do this for awhile, and I'm finally taking the time to do it. I ran Hugo Clarity through [axe devtools](https://deque.com/axe/devtools/) to see how it performs. (You could also run it through the default accessibility checker in Firefox devtools, but I find the axe version more helpful.)

Below are the a1

[2022-05-20 21:32] 0xTanvir opened #311 "Breaking bug: nil pointer evaluating at resource.Resource.MediaType"
Actual error:
[code]
Why and how?
I was trying to render an image that was returning a 404 status code, So `resources.GetRemote` was returned nil, and the site failed to build.
- render-image.html:21
- image.html:31

both of these places cause this error.

Hotfix :
I simply solved this by checking nil `{{- if $image -}}`

**Desktop :**
 - OS: [wsl2, Windows 10]
 - Browser [chrome 101.0.4951.67]

[2022-05-20 22:16] rootwork commented on #311
@0xTanvir Do you have the latest version? #305 fixed exactly this issue.

[2022-05-20 22:35] 0xTanvir commented on #311
Sorry, my bad, I do not have the latest version, I have one week earlier version.

[2022-05-20 22:35] #311 closed

[2022-05-22 17:44] 0xTanvir commented on #310
I think it will be best. It will be suitable for the Core Web Vitals report
![performance ](https://user-images.githubusercontent.com/18065424/169708152-7638ed67-a536-4b92-a1dd-da8d6b8414a2.PNG)

I noticed two other issues for performance when I was using webp image at the featured image, maybe you can also add these two on the list too
- Largest Contentful Paint image was lazily loaded

- Image e

[2022-05-22 19:51] 0xTanvir commented on #310
C1: Please also remove `maximum-scale=1.0`
S2: An aria-label will also be a nice touch like `link.ariaLabel = 'Copy link to this section'` and some case [this line generating conflict URL](https://github.com/chipzoller/hugo-clarity/blob/e511e14db7a11b726ccc6c4456bf5ec5ebdd3720/assets/js/index.js#L111) like when you are coming from a URL which already has a section id

For this URL: https://example

[2022-05-25 19:51] georgew509 opened #312 "Code block "Copy to clipboard" function is not working"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X ] Read the README.md
- [X] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

- I have deployed my [website](https://altoplace.com)  using the Clarity theme Option 2, Hugo Modules.

[2022-05-25 20:45] jbowdre commented on #312
I'm seeing the same as well with `hugo v0.96.0+extended linux/amd64` and a local clone of this repo as of [e511e14](https://github.com/chipzoller/hugo-clarity/commit/e511e14db7a11b726ccc6c4456bf5ec5ebdd3720).

Other code functions work fine, just not the copying.

[2022-05-25 21:33] chipzoller commented on #312
cc @onweru

[2022-05-28 13:45] ShoGinn opened #316 "Post Meta Tags Cause 301 redirect"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

This is a rather simple problem, I even saw it was a problem on neonmirrors.net

H

[2022-05-29 03:51] chipzoller commented on #312
Closed by #298

[2022-05-29 03:51] #312 closed

[2022-05-29 03:53] chipzoller commented on #316
@ShoGinn it would be wonderful if you would submit a PR for this project!

[2022-05-29 13:56] ShoGinn opened #318 "Feature: add CI/CD workflows"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

I have noticed during my development of this theme that there are easily caught pr

[2022-05-29 14:04] ShoGinn commented on #318
With these workflows you can see errors that exist currently in the theme for the exampleSite that should be remedied.

(essentially any thumbnail with a relative url has a 404 error)

[2022-06-08 19:28] rootwork commented on #316
Looks like this was fixed in #317, so closing. Thanks for the contribution & bug fixing @ShoGinn !

[2022-06-08 20:44] ShoGinn commented on #318
@rootwork I concur with your assertions, the html-proofer is kinda the gold-standard and I think in a build environment we aren't making it a pre-req but just an executable test.

Standing by for approval.

[2022-06-09 21:20] rootwork opened #322 "Site URLs in subdirs break various things"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

I was trying to debug an issue where the `link.svg` images in hovered sub-heading

[2022-06-09 21:20] rootwork commented on #322
Assigning @onweru as I'm guessing this is your area.

[2022-06-10 00:33] rootwork commented on #322
Update: This happens with `rootURL` used in the search feature as well, which is [basically defined the same way](https://github.com/chipzoller/hugo-clarity/blob/ede406b64d25d3ba36b0e33411a7a53a95129c67/assets/js/variables.js#L7) (except no trailing slash).

I think both of these should be adapted to use `.SiteBaseURL` to allow for installs in subdirectories.

[2022-06-10 22:28] rootwork commented on #322
I now have a PR for this in #324, so requesting @onweru's review there instead.

[2022-06-15 02:13] LITUATUI opened #326 "No longer shows AVIF images"
The theme no longer shows AVIF images if available with the same name and goes straight to the JPG/PNG fallback.

[2022-06-15 02:28] rootwork commented on #326
@LITUATUI Do you know if it's happening for WebP images too, or just AVIF?

Also images can appear in a variety of ways and contexts, so to narrow this down can you specify:

- Is this an image specified with frontmatter (featured image, thumbnail) or in the body of a post?
- Are you using Hugo page bundles?
- Is this a local image (on your system) or a remote image (a URL)?

Also if you could loo

[2022-06-15 06:50] dennys opened #327 "Document for mainSections"
In the main docment page (https://github.com/chipzoller/hugo-clarity), it shows the config `mainSections` is in `config.toml`, but I find it's in `params.toml' now. Suggest to modify the document, thanks.

Edit `config.toml` and change the `mainSections` key. Values will be directories where the blogs reside.

[2022-06-15 21:14] rootwork commented on #326
Thanks! This is very helpful. I'll see what I can figure out.

[2022-06-15 21:51] rootwork opened #328 "Search result keyword highlighting errors"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

When performing a search and then clicking on a result, on the resulting page the

[2022-06-15 22:21] rootwork commented on #328
Added section at the top noting even more significant bug, `<mark>` wrapping being inserted inside `href` attributes.

[2022-06-16 00:50] rootwork commented on #328
^ PR #329

[2022-06-18 12:27] chipzoller commented on #318
I also think these are good things. Contributions would be most welcome to help improve the experience with Clarity!

[2022-06-18 20:43] mtamhi opened #331 "Question about Amazon hosting?"
Hello,
I want to know if [neonmirrors](https://neonmirrors.net/)  are hosted on s3 or amplify

[2022-06-18 22:22] chipzoller commented on #331
It's on S3

[2022-06-18 22:31] mtamhi commented on #331
Thank you

[2022-06-18 22:31] #331 closed

[2022-06-20 21:36] rverchere opened #332 "shareImage and thumbnail seems not working when sharing on Twitter"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X] Read the README.md
- [X] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference
- [X] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

Hi, when sharing an article on Twitter, the image (shareImage or thumbnail) is not

[2022-06-20 21:45] chipzoller commented on #332
This was very recently fixed if you can pull and update from Master.

[2022-06-22 20:11] rootwork commented on #332
Yeah it looks like there is something wrong going on here. The OpenGraph image URL being served on that blog post is `https://neonmirrors.net/post/2022-06/examining-pod-security/images/2022-06/examining-pod-security/thumbnail.png`.

My guess is LinkedIn just does a better job falling-back if the OG image returns a 404, and goes and searches the page for an image to use.

[2022-06-22 20:32] chipzoller commented on #332
like I said, it should be fixed in master right now. I haven't updated Clarity to include that code which is why the bug is still present.

[2022-06-23 10:09] rverchere commented on #332
Before answering I've updated the master branch on my personal blog ( hugo + submodule theme @ [6347e453](https://github.com/chipzoller/hugo-clarity/tree/6347e453406917e5c9c99b3af2a2eacb4a407b8b) ) and I still have the issue.

[2022-06-23 22:17] rootwork commented on #332
Hmm. That is strange. Running it through the [Twitter Card Validator](https://cards-dev.twitter.com/validator) confirms this.

The only possible issue I can see is the lack of a space before the closing `/>` on [that line in the partial](https://github.com/chipzoller/hugo-clarity/blob/master/layouts/partials/opengraph.html#L57). It's hard for me to believe Twitter would choke on something like tha

[2022-06-24 10:19] rverchere commented on #332
I'm trying to find differences from other working sites.
Here there is no `og:image:width`, `og:image:height` and `og:image:type` meta properties.

[2022-06-24 15:31] rverchere commented on #332
fyi, I've set the `largeTwitterCard` to true, and now the image is available in tweet cards.

[2022-06-24 21:00] rverchere commented on #332
Deleted `largeTwitterCard`, still working. I guess there were some cache when I upgraded to the master branch.

You can close the issue.

[2022-06-26 18:04] IceFlom opened #333 "Search does not work if default language is not English"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

As soon as the default language of the page is set to something other than English

[2022-06-27 07:20] rasmusson opened #334 "Feature request: Support for google tag manager"
I use Google tag manager in my site to deploy analytics and more. For now I have made customization to the theme to enable tag manager. Would it be possible to add support for this in the theme?

I could give it a go to try and add it in.

[2022-06-27 09:06] rasmusson opened #335 "Need to add result page to enable search when upgrading"
When upgrading to the newest version and enabled search I get 404 on the result pages. This was resolved after adding the search.md page from the example site. This should be in the documentation for search if it is not possible to include in the theme.

I notices the same you have the same problem on your reference site https://neonmirrors.net/search/?query=ds&scope=post

[2022-06-27 11:41] chipzoller commented on #335
Search seems to be working fine on neonmirrors.net. What problem are you seeing?

As to the upgrade instructions, you're absolutely right. Would you like to submit a PR which adds these instructions?

[2022-06-27 12:12] rasmusson commented on #335
If you type a search term and hit enter you get a 404, same as I had before adding the search.md on my site.
I'll can write some instructions

[2022-06-27 12:18] chipzoller commented on #335
I don't have that problem. Hitting Enter does nothing but search results are returned in the search area.

[2022-06-27 12:18] chipzoller commented on #335
Oh wait, you're right. It doesn't do anything on Firefox but it does on Brave.

[2022-06-27 12:50] #335 closed

[2022-06-27 12:50] rasmusson commented on #335
Now when I try I get the search result page. Strange. You didnt do any changes?
I submittet a PR for the documentation change

[2022-06-27 12:51] chipzoller commented on #335
I updated neonmirrors.net with the search page.

[2022-06-27 18:50] rasmusson opened #337 "404 getting image from page bundle in post URL ending in .html"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.
My source is currently not public

**Describe the bug**
Because of migration from a old blog I have have

[2022-06-27 20:15] rootwork commented on #337
Hmm. Yes that makes sense what's going on, I'm not sure how to resolve it, though. What happens if you set the path to the image explicitly as `/11/opensaml4-signing.jpg`? The leading slash might tell Hugo to use that path directly rather than construct a relative URL.

[2022-06-28 06:56] rasmusson commented on #337
It still looking for it relatively, path is now 2012/11/verifying-signatures-with-opensaml.html/2012/11/opensaml4-signing.jpg

[2022-06-28 21:10] rasmusson commented on #337
Right. Maby use in to check for presens of . as a substring of the path?
{{ if in path "." }}

[2022-06-28 21:13] rasmusson commented on #337
No, sorry there can be other dots in there. Perhaps a regex using findRE?

[2022-06-30 20:57] #322 closed

[2022-06-30 20:57] #328 closed

[2022-07-01 21:14] rootwork commented on #310
@chipzoller @onweru Any feedback or opinions on the above? If you don't feel strongly one way or another, I'll just start working on some PRs.

[2022-07-01 22:21] onweru commented on #310
@rootwork, I'm not big on accessibility myself so the issue makes sense as described. Please feel free to proceed as you deem fit.

[2022-07-01 23:30] rootwork commented on #326
Can you say a little more about where your content and images are? I assume your posts are in `content/posts/`? Are the images in question in `assets/images/posts/` or `static/images/posts/`?

[2022-07-02 03:22] LITUATUI commented on #326
Posts: content/posts/
Images: static/images/posts/

If I use an old version of this theme everything works as supposed to.

[2022-07-02 04:13] rootwork commented on #326
Images in `static` can't have any of Hugo's [image processing](https://gohugo.io/content-management/image-processing/) run on them, because they can't be loaded as a resource.

If it ever did work with images from `static`, that was an accident -- but now I'm curious how that happened! Do you know what git commit you're on in the version of the theme that this works for you?

[2022-07-02 04:35] LITUATUI commented on #326
This [commit](https://github.com/chipzoller/hugo-clarity/commit/a0c2e2da225ecee12b39fd65a0ce4019808898a4) made it stop working.

The last working commit for me is: f40414b5292c3af64ee46adc9efb8f034c7465e2

[2022-07-07 23:16] georgew509 commented on #177
I notice it a lot when I change the orientation on my iPad. A simple browser refresh moves the button to the correct location.

Also, I have noticed on my iPhone that the button does not appear at all until you scroll to the bottom of the page or post. Is that by design?

[2022-07-13 20:29] rootwork opened #341 "Search results 'fix' explodes markup generation"
This is my own bug that I introduced in #329. I am really sorry. Here's what markup looks like **without any search being performed**:

![search-disaster](https://user-images.githubusercontent.com/79733/178828168-4394c0e5-884d-463b-b5f0-0e1c7ac13c38.png)

Yeesh. So I'm not sure how best to fix it but at the very least I need to exclude the JS function from running until/unless a search has actuall

[2022-07-24 14:01] chipzoller opened #347 "YAML syntax highlighting doesn't detect literal block scalar properly"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

Using a code block with YAML syntax highlighting when the YAML contains a literal

[2022-07-24 20:14] mandip1213 opened #349 "How to add custom css for markdown?"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**
Its not a bug but a feature query. How can I change the default css applied to the

[2022-07-24 21:31] rootwork commented on #341
I believe this is now fixed with #348

[2022-07-24 22:45] jbowdre commented on #341
I *think* I'm still seeing this issue on the staging branch of my site after incorporating the latest theme updates (6d90564fef2c4d6783b1e7bfbf2105f81301760e), and it's actually completely crashing the Chrome browser on my Android phone.(I don't see any performance issues on a desktop browser.)

An example of an impacted page:
https://staging.virtuallypotato.com/gitea-self-hosted-git-server/

And

[2022-07-25 05:24] rootwork commented on #341
I can definitely see it on your staging site, you're right.

On my local site search doesn't seem to be working at all, but I'll take a look when I get to work tomorrow -- it might be unrelated. But given what you're seeing I'll leave this open until I can test more.

[2022-07-25 11:32] chipzoller opened #351 "Search returns tags"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference
- [ ] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

A search, when conducted on the homepage, returns tags if they match the search te

[2022-07-25 13:06] chipzoller commented on #341
#348 did fix search for my site (neonmirrors.net)

[2022-07-25 14:28] onweru commented on #341
Hi @rootwork, #348 did not fix this issue, it merely

1. Fixed the index.json URL,
2. prevented looping over falsy nodes using the custom `forEach` function introduced in #329.

I did  identify the cause of this issue. [This function call](https://github.com/chipzoller/hugo-clarity/blob/6d90564fef2c4d6783b1e7bfbf2105f81301760e/assets/js/search.js#L197) should not be at the top level of `initialize

[2022-07-25 19:49] rootwork commented on #351
I actually like that search returns tags, and I've included CSS enhancements (making the tags bold and prefacing them with "Tag: " in the search results). But I agree that this should be more transparent, and maybe default to not including them.

[2022-07-25 19:50] rootwork commented on #341
@onweru if you have the bandwidth to work on this in the next few days, that would be great. Otherwise I can pitch in partway through the week, but won't have time before then.

Thanks for working on this!

[2022-07-25 19:54] chipzoller commented on #351
It would be cool if we can return a little tag icon before the tag name if they are to be shown in search results.

[2022-07-25 22:47] sazstuff opened #354 "Unable to build on cloudflare pages"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [ x] Read the README.md
- [ x] Have the extended version of Hugo installed
- [ x] Used the exampleSite's config.toml as a reference
- [ x] I have included my repository link. Instead of pasting long snippets here.

**Describe the bug**

Trying to build cloudflare pages with this theme as a sub-module sourced at ht

[2022-07-26 22:24] rootwork opened #356 "'Featured' tag and 'featured' param in example might be confusing"
In testing #353 I noticed that in our `exampleSite` we have a featured post ("Markdown Syntax Guide") with both of these things set:

- `featured = true`
- `tags = [ ... "featured" ]`

Being able to feature posts is a good...feature! But the functionality to do so only operates on the `featured` param itself (the first item above), not the tag.

This seems like it could be confusing to users. Woul

[2022-07-27 00:03] rootwork commented on #341
@onweru Does the [`variables.js`](https://github.com/chipzoller/hugo-clarity/blob/master/assets/js/variables.js) file get pulled in to `search.js`? I just noticed that on my local install `baseURL` is erroring in the console as undefined (and thus breaking search).

I had thought the variables were pulled into each JS file using the [`getJavascriptBundle`](https://github.com/chipzoller/hugo-clarit

[2022-07-27 12:04] onweru commented on #341
@rootwork, yes the contents of `variables.js` should be accessible to the other scripts. Unless [these lines](https://github.com/chipzoller/hugo-clarity/blob/a291123d1994653fa322f8f3c648feeee890946b/layouts/partials/scripts.html#L2-L3) are swapped

[2022-07-27 13:56] sazstuff commented on #354
I ended up switching to just hosting the Hugo built static site instead of trying to have cloudflare build it, but I was hoping to find out why this type of error would show on the cloudflare build but not on my local machine.  Also, is there a better way to ask questions on this theme without posting a bug report?

[2022-07-27 20:44] LukeHong commented on #356
I think it might be better to remove the tag from the current one as the first option, then add a new post about featured post(and maybe pinned post) to demonstrate how it works.

[2022-07-27 21:21] rootwork opened #358 "Project maintenance and planning"
@chipzoller @onweru When you get a chance, wanted your feedback on some project ideas. I can do PRs for any of the following but don't want to invest in work before knowing if these seem like good ideas for Hugo Clarity.

1. **Adding a label called "management"**, "project management", "planning", or something like that. For instance, for issues like this :) Alternatively we could use a section of

[2022-07-27 21:25] rootwork commented on #358
Meant to add on number 5 - one of the reasons I think a contributing document would be useful is the DCO test, which most people seem not to see (or know what to do about) when they first submit a PR.

[2022-07-28 14:57] chipzoller commented on #358
1. If we're just discussing amongst ourselves and one of us is the creator of the discussion, I think the discussions (with a new section) might be best. It certainly doesn't hurt to have an additional label though. Not opposed to either/both.
2. Absolutely. We need to start doing releases with release notes. We talked about this a while back and all agreed (as I recall). Let's make it happen. I t

[2022-07-28 16:37] onweru commented on #358
Gentlemen,

I agree with 👍🏼 2 ~ 6.

As far as the first (1) and last (6) points go, I'm not quite sure how they would work since we're not an organization. We're merely 3 guys plus other individuals who volunteer to work on an open source theme. That said, I get the sense that the first point is more approachable.

[2022-07-28 21:03] rootwork commented on #341
I was wrong about what was happening on my local; it wasn't `baseURL`, it was because I had an overridden and not-recently-updated `baseof.html` and my language code was missing.

Anyway, I have a PR for this bug now: #359

[2022-07-28 21:34] rootwork commented on #358
OK, I'll work on PRs for 3-5, and see if there are any good examples of setting up a planning section of discussions for item 1.

For item 6, I don't know what funding would look like for a group of individuals; maybe that's too much to try to navigate.

On 2: I think it might depend on how "complete" you think the theme is @chipzoller. Is it what you originally envisioned, and now we're just addi

[2022-07-28 22:05] onweru opened #360 "Use css variables for all colors."
We should probably move completely to using CSS variables (at least for all colors), to make working with that file easier. I think CSS variables now enjoy better support than when I first wrote the variables down.

_Originally posted by @onweru in https://github.com/chipzoller/hugo-clarity/discussions/350#discussioncomment-3275282_

[2022-07-28 22:06] rootwork commented on #341
#359 has been merged, and after thinking about it I believe we can call this bug fixed. As I noted in that PR, the search-term highlighting could be further improved, but as this bug was about how it negatively affected the rest of the site (outside of searches) and that has now been fixed, I think this can be closed.

[2022-07-28 22:06] #341 closed

[2022-07-29 13:54] jbowdre commented on #341
Thanks for the quick fix! All better on my end after pulling the latest. You folks are great!

[2022-07-31 00:47] rootwork commented on #358
For item 1, I've created a new category in discussions, [Planning](https://github.com/chipzoller/hugo-clarity/discussions/categories/planning). There's no way to restrict participants, so anyone will be able to post and comment, but I think that's fine. We can always recategorize posts that come in there.

[2022-07-31 02:14] rootwork commented on #318
@ShoGinn Would you like to make a PR for these? If not I can make one based on your workflows, but since it's your idea I wanted to invite you to take the credit 🥇

[2022-07-31 02:16] #263 closed

[2022-07-31 13:52] #327 closed

[2022-08-05 11:43] KaitaKoinuma opened #371 "[Bug] Search function doesn't work when the default language is other than 'en'."
### I confirm:

- [X] I am running the [extended version of Hugo version 0.91.0 or above](https://github.com/chipzoller/hugo-clarity/blob/master/README.md#prerequisites) to build my site.
- [X] I have read the [Hugo Clarity theme documentation](https://github.com/chipzoller/hugo-clarity/blob/master/README.md).
- [X] I have used the [example site's config files](https://github.com/chipzoller/hugo-c

[2022-08-24 04:17] joesan commented on #181
Is there an update on this?

[2022-08-24 22:32] rootwork commented on #181
I don't think there is any active development. We would certainly accept PRs.

Also it might be worth separating this into two things:

- A cookie _disclosure_ banner would be easy to implement; we'd just design it, make the text a configurable string, and then provide a setting to enable or disable it.
- A cookie _control_ banner -- that would let you accept or reject certain cookies -- would be

[2022-08-28 23:04] chipzoller commented on #181
Because this is fairly heavily requested, we should bump this up in priority.

[2022-09-05 10:20] ChadThackray opened #375 "[Bug] CORS error when using www. subdomain, .css and .js files not loading"
### I confirm:

- [X] I am running the [extended version of Hugo version 0.91.0 or above](https://github.com/chipzoller/hugo-clarity/blob/master/README.md#prerequisites) to build my site.
- [X] I have read the [Hugo Clarity theme documentation](https://github.com/chipzoller/hugo-clarity/blob/master/README.md).
- [X] I have used the [example site's config files](https://github.com/chipzoller/hugo-c

[2022-09-05 12:53] onweru commented on #375
@ChadThackray, @chipzoller,  I think in your server configurations, you ought to configure 301 redirects  from the apex domain (no-www) to www, or vice versa. At least it's the  standard practice

[2022-09-05 13:20] ChadThackray commented on #375
Thanks @onweru !

I tried this before and got the converse issue, then only `www.domain.com` worked and not `domain.com`.

Oh ok, didn't know this was the standard procedure. Still strange that it worked for some other hugo themes but not for this one.

Hopefully this issue will help anyone having the same problem in the future.

[2022-09-23 07:04] ahfpak opened #385 "[Bug]"
### I confirm:

- [X] I am running the [extended version of Hugo version 0.91.0 or above](https://github.com/chipzoller/hugo-clarity/blob/master/README.md#prerequisites) to build my site.
- [X] I have read the [Hugo Clarity theme documentation](https://github.com/chipzoller/hugo-clarity/blob/master/README.md).
- [X] I have used the [example site's config files](https://github.com/chipzoller/hugo-c

[2022-09-23 07:05] ahfpak commented on #385
please help

[2022-09-29 22:13] rootwork opened #390 "[Bug] `-webkit-appearance: none` breaks embedded form styling"
### I confirm:

- [X] I am running the [extended version of Hugo version 0.91.0 or above](https://github.com/chipzoller/hugo-clarity/blob/master/README.md#prerequisites) to build my site.
- [X] I have read the [Hugo Clarity theme documentation](https://github.com/chipzoller/hugo-clarity/blob/master/README.md).
- [X] I have used the [example site's config files](https://github.com/chipzoller/hugo-c

[2022-09-30 14:04] onweru commented on #390
@rootwork, `appearance: none` helps standardize how input elements look across browsers, especially on safari.  I think it had something to do with the search field.

[2022-09-30 20:21] rootwork commented on #390
That makes sense. So I can think of two options:

- Applying it directly to the fields it makes a difference on (the search fields, and others if any)
- Applying it only to `<input>` elements that are not `type=checkbox` (or probably `radio` also)

[2022-09-30 20:51] rootwork commented on #375
Going to mark this as fixed given the last comment.

[2022-09-30 20:51] #375 closed

[2022-10-01 08:58] onweru commented on #390
@rootwork, I agree ... either of those approaches is good.

[2022-10-11 08:49] sazstuff commented on #181
Just like you use disqus, which is pretty easy to sign up, free for basic
use, and just has a javascript plug-in, you could just support
something like Osano for this need https://www.osano.com/plans

On Wed, Aug 24, 2022 at 6:32 PM Ivan Boothe ***@***.***>
wrote:

[2022-10-14 12:23] manronES opened #395 "[Bug] CORS error when using multilingual sites, .css and .js files not loading"
### I confirm:

- [X] I am running the [extended version of Hugo version 0.91.0 or above](https://github.com/chipzoller/hugo-clarity/blob/master/README.md#prerequisites) to build my site.
- [X] I have read the [Hugo Clarity theme documentation](https://github.com/chipzoller/hugo-clarity/blob/master/README.md).
- [X] I have used the [example site's config files](https://github.com/chipzoller/hugo-c

[2022-10-29 13:12] stdevel commented on #371
I'm having the same issue. Changing `'en'` to my site's default language is my current workaround - after that search is working for both languages (*`de` and `en`*).

Could you please share your line, @KaitaKoinuma? Simply replacing `'en'` with `.Sites.First.Language.Lang` results in a syntax error for me. What did I miss?

[2022-10-29 17:14] McAviti commented on #371
Ahoj @stdevel -- I also did not know the correcty way to refer to the first language, so my workaround was was to replace hardcoded "en" with hardcoded "de", that acchieved the same result.

[2022-10-30 13:39] onweru commented on #371
Hi @McAviti, @stdevel,

If you don't mind, I would appreciate your help testing #401.

[2022-11-01 00:00] KaitaKoinuma commented on #371
Hi @stdevel , sorry for my late reply.
I will try to check my lines after my today's work, but @onweru pull request probably help you!

@onweru
Thank you for pull request for this issue and replying to stdevel and McAviti.

[2022-11-01 15:35] KaitaKoinuma commented on #371
Hi @stdevel

I suppose that you write
[code]
and the line work as expected.

` .Sites.First.Language.Lang` is surrounded by `'{{ }}'` ? If you did that, please show your lines.

In my source code for verfication, I also used variables.js for using first language as a const variable in search.js.

**variable.js**
[code]

**search.js**
[code]

[2022-11-05 00:58] McAviti commented on #371
@onweru -- did a run with branch <371-fix-search-index-lookup>, and it worked for default lang german -- thank you!